@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Overwrite the default to keep the scrollbar always visible */

.dflexfooter {
  display: flex;
  cursor: pointer;
}

.dflexfooter span {
  align-self: center;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgb(22, 22, 22);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@media (min-width: 50em) {
  .scene__grid {
    grid-column-gap: 8em;
  }
}

/*-------------------Mobile---------------------------------*/

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-lg-block,
  .d-md-block {
    display: none !important;
  }

  @media (max-width: 425px) {
    .footer-sm-section .title h1 {
      font-size: 26px;
    }

    footer .division a {
      font-size: 18px;
    }
  }

  @media (max-width: 375px) {
    .footer-sm-section .title h1 {
      font-size: 26px;
    }
  }

  @media (min-width: 320px) {
    .footer-sm-section .container {
      padding: 20px !important;
    }

    .footer-sm-section .title h1 {
      font-size: 22px !important;
    }

    footer .division a {
      font-size: 16px !important;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
  }

  /* --------------Footer------------ */

  .footer-sm-section {
    width: 100%;
  }

  .mob_footer_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #111;
  }

  .footer-sm-section .container {
    padding: 30px;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111;
  }

  .footer-sm-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  footer .title h1 {
    font-weight: 500;
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 14px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 20px;
    height: auto;
    padding-bottom: calc(10vh + 10%);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 25vw;
  }

  .division .footer_logo {
    width: 25vw;
    height: auto;
  }

  p {
    font-size: 16px !important;
  }

  /* --------------footerCategories----------- */

  footer .division .footer_cat {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 0px;
  }

  footer .division .footer_cat span {
    margin-left: 10px;
  }

  footer .division .footer_cat span svg {
    width: 15px !important;
    height: 10px !important;
  }

  footer .division .categories_lists {
    width: 100%;
    line-height: 30px;
    background-color: #222;
    border-radius: 10px;
    border: 0.2px solid black;
    transition: all 1s ease-in-out;
    /* transform-origin: top center;
    transform: scale(0); */
    display: none;
  }

  footer .division .active {
    display: block;
  }

  footer .division .categories_lists li {
    margin: 5px 12px;
  }

  footer .division .footer_cat a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }
}

/*---------------------Laptop------------------------------*/

@media (min-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 60px 60px 60px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title h1 {
    font-weight: 500;
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 160px 20px 160px;
    justify-content: space-between;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px !important;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */

  .container-bottom {
    padding: 30px 60px 30px 60px;
  }

  footer .division .footer_cat_desk {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 0px;
  }

  footer .division .footer_cat_desk span {
    margin-left: 10px;
  }

  footer .division .footer_cat_desk span svg {
    width: 15px !important;
    height: 10px !important;
  }

  footer .division .categories_lists_desk {
    width: 100%;
    line-height: 30px;
    background-color: #222;
    border-radius: 10px;
    border: 0.2px solid black;
    transition: all 1s ease-in-out;
    /* transform-origin: top center;
    transform: scale(0); */
    display: none;
  }

  footer .division .active {
    display: block;
  }

  footer .division .categories_lists_desk li {
    margin: 5px 12px;
  }

  footer .division .footer_cat_desk a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }
}

/*---------------------Laptop------------------------------*/

@media (min-width: 1280px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    /* /* height: 80%; */
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 120px 60px 120px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 16px;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title h1 {
    font-weight: 500;
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 120px 20px 120px;
    justify-content: space-between;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px !important;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */
}

/*---------------------Laptop-Large------------------------------*/

@media (min-width: 1440px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    /* /* height: 80%; */
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 160px 60px 160px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 160px 20px 160px;
    justify-content: space-between;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px !important;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */

  .container-bottom {
    padding: 30px 160px 30px 160px;
  }
}

@media (min-width: 1366px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    /* height: 80%; */
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 160px 60px 160px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 160px 20px 160px;
    justify-content: space-between;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px !important;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */

  .container-bottom {
    padding: 30px 160px 30px 160px;
  }
}

@media (min-width: 1512px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    /* /* height: 80%; */
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 160px 60px 160px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 160px 20px 160px;
    justify-content: space-between;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px !important;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */

  .container-bottom {
    padding: 30px 160px 30px 160px;
  }
}

/*---------------------Laptop-Large-Large------------------------------*/
@media (min-width: 1728px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-lg-block,
  .d-md-block {
    display: block;
  }

  .d-lg-none,
  .d-md-none {
    display: none;
  }

  .d-sm-block,
  .footer-sm-section {
    display: none !important;
  }

  /* --------------Footer------------ */

  .footer-section {
    width: 100%;
    /* /* height: 80%; */
    background-color: #111;
  }

  .footer-section .container {
    padding: 60px 160px 60px 160px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 16px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    padding: 20px 160px 20px 160px;
    justify-content: space-between;
    height: auto;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 20px;
  }

  /* .footer-section .container {
    padding: 40px 160px 160px 60px;
  } */

  .container-bottom {
    padding: 30px 160px 30px 160px;
  }
}

/*---------------------ipad-------------------------------*/

@media (min-width: 769px) and (max-width: 1023px) {
  * {
    padding: 0;
    margin: 0;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-lg-block,
  .d-md-block {
    display: none !important;
  }

  @media (max-width: 425px) {
    .footer-sm-section .title h1 {
      font-size: 26px;
    }
  }

  @media (max-width: 375px) {
    .footer-sm-section .title h1 {
      font-size: 26px;
    }
  }

  /* --------------Footer------------ */

  .footer-sm-section {
    width: 100%;
    background-color: #111;
  }

  .footer-sm-section .container {
    padding: 60px 160px 100px 160px;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #111;
  }

  .footer-sm-section .container .container-one {
    display: flex;
    justify-content: space-between;
  }

  footer .division {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .division .footer_tags {
    position: absolute;
    background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .division .footer_tags:hover {
    transform: scale(1.1);
  }

  footer .title {
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  footer .title h1 {
    font-weight: 600;
  }

  footer .title:hover {
    cursor: pointer;
  }

  footer .decoration-line {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .title:hover > .decoration-line {
    width: 80px;
    background-color: #9b6cff;
  }

  footer .division ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }

  footer .division a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  .container-bottom {
    font-family: poppins;
    font-size: 14px;
    color: white;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b6cff, #6a32e1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 20px;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .container-bottom .division {
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
  }

  footer .icons {
    display: flex;
    gap: 20px;
  }

  footer .icons img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;
    border-radius: 100%;
  }

  .division .badges {
    display: flex;
    gap: 20px;
  }

  .division .badges img {
    width: 120px;
  }

  .division .footer_logo {
    width: 8vw;
    height: auto;
  }

  p {
    font-size: 16px !important;
  }

  .footer-sm-section .container {
    padding: 20px 30px;
  }

  .container-bottom {
    padding: 20px;
  }

  .footer-sm-section .container:nth-child(1) {
    padding-top: 40px;
  }

  .footer-sm-section .container:nth-child(3) {
    padding-bottom: 40px;
  }
}

@media (max-height: 420px) and (orientation: landscape) {
  /* ----------------footer----------- */

  .mob_footer_container .container .division:nth-child(3) {
    width: 21%;
  }

  .container-bottom {
    padding-bottom: 100px;
  }

  /* --------------footerCategories----------- */

  footer .division .footer_cat {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 0px;
  }

  footer .division .footer_cat span {
    margin-left: 10px;
  }

  footer .division .footer_cat span svg {
    width: 15px !important;
    height: 10px !important;
  }

  footer .division .categories_lists {
    width: 100%;
    line-height: 30px;
    background-color: #222;
    border-radius: 10px;
    border: 0.2px solid black;
    transition: all 1s ease-in-out;
    /* transform-origin: top center;
      transform: scale(0); */
    display: none;
  }

  footer .division .active {
    display: block;
  }

  footer .division .categories_lists li {
    margin: 5px 12px;
  }

  footer .division .footer_cat a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  /* -------------Footer_AppCard-------------- */
}
