* {
  font-family: "Inter", sans-serif;
}

.c_94 {
  color: #949494;
}

.c_7 {
  color: #777777;
}

.bg_e1 {
  background-color: #f8f0ff;
}

.c_62 {
  color: #626262;
}

.c_ae {
  color: #aeaeae;
}

.c_dc {
  color: #dcff4f;
}

.bg_dc {
  background: #dcff4f;
}

.bg_f5 {
  background: #f5ebff;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.row1:last-child {
  padding-bottom: 0 !important;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}

.dropdown-menu {
  padding: 2rem 1rem !important;
  width: 1000px;
}

.dropdown-item span {
  display: flex;
  align-items: center;
}

.dropdown-item span::after {
  background-color: currentcolor;
  bottom: 0.1em;
  content: "";
  height: 1em;
  margin-left: 0.25em;
  -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
  width: 1em;
  display: block;
  opacity: 0;
}

.dropdown-item span:hover::after {
  opacity: 1;
  right: 10px;
}

.dropd_w {
  padding: 30px;
  width: 500px;
}

.drop_down_lists {
  display: flex;
  /* padding: 2rem 1rem; */
}

.dropdown_content {
  margin: 2.5rem 0;
}

.dc_m {
  display: flex;
  gap: 1.4rem;
  padding-bottom: 20px;
}

.dc_m:last-child {
  padding-bottom: 0;
}


.dc_r h6 {
  color: #000000;
}

.dc_r p {
  color: #8e8e8e;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0;
}

header {
  padding: 10px 60px 15px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
  padding: 0;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}

.sideright {
  display: flex;
  /* gap: 1.5rem; */
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav {
  display: none;
}

.sidenav a {
  display: none;
}

/*  */

.section_content {
  padding: 4rem 4rem 4rem 5rem;
}


.heading_contents h1 {
  font-size: 50px;
  font-weight: 600;
}

.heading_contents p {
  font-size: 16px;
  padding: 12px 0 20px 0;
}

.img_header {
  width: 550px;
  height: 550px;
  margin: 0 -1rem 0 auto;
}

.img_header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover_name h1 {
  font-size: 2.5rem;
}

.discover_name p {
  font-size: 1.2rem;
}

.translate_flex {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 3rem 0;
}

.transalate {
  width: 550px;
  height: 550px;
  margin-right: auto;
}

.transalate img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.columns_campaign ul {
  list-style-type: none;
}

.columns_campaign ul li {
  margin: 0 0 1.5rem 0;
}


.columns_campaign ul li:last-child {
  margin: 0 0 0 0;

}

.col_camp {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  padding: 2rem;
  color: #000000;
  display: block;
}

.col_camp:hover {
  box-shadow: 4px 4px 24px -5px rgba(156, 156, 156, 0.25);
  transition: visibility 0s, opacity .3s ease-in-out, margin-top .3s ease-in-out;
}

.col_camp:last-child {
  margin: 0 0 0 0;
}

.col_camp h4 {
  font-size: 1.5rem;
}

/* flips s */

.flippers{
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.flip-card {
  background-color: transparent;
  width: 201px;
  height: 249px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 4px 4px 24px 10px rgba(156, 156, 156, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.flip-card-front img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.flip-card-front h5{
  font-size: 1rem;
}

.flip-card-back {
  background-color: #8111E8;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* flip e */





.schedule_meeting a {
  text-decoration: underline !important;
}


.recommend_txt {
  margin-bottom: 4rem;
}

.recommend_txt h6 {
  font-size: 1.5rem;
}

.how_does_it_work h4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.how_does_it_work-contents {
  margin: 5rem 0 0 0;
}

.c_1 {
  padding-bottom: 3rem;
  border-bottom: 1px solid #e1e1e1;
}

.c_1_border_none {
  border-bottom: none;
}

.mt_4rem {
  margin-top: 4rem;
}

.c_1 h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.c_1 p {
  font-size: 1.1rem;
}

.recommendation_img {
  width: 250px;
  height: 550px;
}

.recommendation_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial_content {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.testimonial_img {
  width: 70%;
  height: 290px;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonials_content p {
  margin-top: 1.4rem;
}

.title_case h3 {
  font-size: 2rem;
}

.titleCase_imgs {
  margin: 2rem 0 4rem 0;
  display: flex;
  gap: 1.5rem;
}

.casestudy_img {
  width: 393px;
  height: 247px;
}

.casestudy_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




.from_recommdention_conversion {
  width: 100%;
  margin: 6rem auto;
}

.from_recommdention_conversion h3 {
  font-size: 2.25rem;
}

.accordion {
  color: black;
  background-color: white;
  padding: 0 0 6rem 0;
}

.accordion .container {
  position: relative;
  padding: 0;
  /* margin: 10px 10px; */
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 1rem;
  /* text-align: justify; */
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: auto;
  padding: 20px 0;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}


.get_demo {
  margin-top: 35px;
}

.get_demo a {
  color: #ffffff;
  padding: 10px 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.sideleft .me-4 a{
  display: block;
  text-decoration: none;
}

.sideleft .me-4 img {
  display: block;
  max-width: 75px;
  width: 100%;
}

.sideleft .me-4 svg {
  display: none;
}


@media screen and (max-width: 1130px) {
  .sideleft .me-4 img {
    display: none;
  }

  .sideleft .me-4 svg {
    display: block;
    width: 80%;
  }

  .active .fw {
    font-weight: 600 !important;
  }

  .active .rotate {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }

  .active .rotate {
    transform: rotate(180deg);
  }

  .sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidenav a:hover {
    color: #000;
  }

  .nav-item:first-child {
    margin-top: 1rem;
  }

  .nav-item:nth-child(6) {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .login_cta a {
    margin: 1rem 0;
    background: #8100e9;
    border-radius: 22px;
    color: #ffffff !important;
    width: 124px !important;
    height: 44px;
    text-align: center;
  }

  .header1 .ms-5 {
    margin-left: 0 !important;
  }

  .openNav {
    display: block;
    color: #fff;
  }

  .sideright {
    display: none;
  }

  .header_list {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

  .sidenav {
    display: block;
  }

  .sidenav li {
    list-style-type: none;
  }

  .sidenav a {
    padding: 8px 8px 10px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    width: min-content;
    min-width: max-content;
  }

  .dropdown button {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0px;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 20px 25px;
    background-color: #000;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }

  .dropdown-menu {
    border: none;
  }

  .dropdown-menu {
    padding: 20px;
    width: 100%;
  }

  .section_content {
    padding: 2rem;
  }

  .bg_black_content {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .heading_contents h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .heading_contents p {
    text-align: center;
    font-size: 16px;
  }

  .heading_contents div {
    text-align: center;
  }

  .img_header {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .discover_name {
    width: 100%;
  }

  .discover_name h1 {
    font-size: 1.5rem;
  }

  .discover_name p {
    font-size: 1rem;
  }

  .recommend_txt {
    margin-bottom: 3rem;
  }

  .recommend_txt h6 {
    font-size: 1.2rem;
  }

  .how_does_it_work h4 {
    font-size: 1.3rem;
  }

  .how_does_it_work-contents {
    margin: 3rem 0;
  }

  .c_1 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .c_1 h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .c_1 p {
    font-size: 1rem;
  }

  .main_content_how_it_work {
    gap: 2rem;
    flex-direction: column-reverse;
  }

  .recommendation_img {
    width: 40%;
    height: auto;
  }

  .mt_4rem {
    margin-top: 3rem;
  }

  .gap0 {
    gap: 0;
  }

  .testimonial_content {
    flex-direction: column;
    gap: 1.5rem;
    padding: 15px;
    margin: 2rem 0;
  }

  .testimonials_content h5 {
    font-size: 1rem;
  }

  .title_case {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .titleCase_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem 0;
  }

  .titleCase_imgs::-webkit-scrollbar {
    display: none;
  }

  .title_case h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .casestudy_img {
    min-width: 90%;
    height: 200px;
  }

  .casestudy_img img {
    border-radius: 10px;
    object-fit: cover;
  }

  .padding_b-none {
    padding-bottom: none !important;
  }

  .accordion {
    padding: 0 0 3rem 0;
  }

  .accordion .label {
    font-size: 1rem;
    width: 95%;
  }

  .accordion .label::before {
    top: 50%;
    right: -32px;
    font-size: 26px;
  }

  .accordion .content {
    width: 100%;
  }

  .accordion .container.active .content {
    height: auto;
    padding: 20px 0;
  }

  .from_recommdention_conversion {
    width: 100%;
    margin: 2rem auto;
  }

  .from_recommdention_conversion h3 {
    font-size: 1rem;
  }

  .get_demo a {
    color: #ffffff;
    padding: 14px 36px;
  }


  .translate_flex {
    padding: 2rem 0 3rem 0;
  }

  .columns_campaign ul {
    padding: 0;
    margin: 0;
  }

  .col_camp {
    width: 100%;
    padding: 1rem;
  }

  .col_camp h4 {
    font-size: 1rem;
  }

  .col_camp p {
    font-size: 14px;
  }

  .get_demo a {
    padding: 10px 30px;
  }

  /*  */

  .flippers{
   overflow: scroll;
   gap: 13rem;
   margin: 0;
   padding: 1rem;
  }

  .flippers::-webkit-scrollbar{
    display: none;
  }

  .flip-card{
    width: fit-content;
    height: 200px;
  }

  .flip-card-front{
    width: 180px;
    height: 200px;
    background: white;
    box-shadow: 4px 0px 15px 1px rgba(156, 156, 156, 0.25);
    padding: 1rem;
  }

  .flip-card-back{
    width: 180px;
    height: 200px;
  }

  .flip-card-inner{
    box-shadow: none;
  }

  .flip-card-front h5{
    font-size: 0.9rem;
  }

.flip-card:hover .flip-card-inner {
  transform: rotateY(0deg);
}
}

