* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}

.bg_dc {
  background: #dcff4f;
}

.dropdown-menu {
  padding: 40px;
  width: 1000px;
}

.dropdown-item span {
  display: flex;
  align-items: center;
}

.dropdown-item span::after {
  background-color: currentcolor;
  bottom: 0.1em;
  content: "";
  height: 1em;
  margin-left: 0.25em;
  -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
  width: 1em;
  display: block;
  opacity: 0;
}

.dropdown-item span:hover::after {
  opacity: 1;
  right: 10px;
}

.dropd_w {
  padding: 30px;
  width: 500px;
}

.drop_down_lists {
  display: flex;
  padding: 2rem 1rem;
}

.dropdown_content {
  margin: 2.5rem 0;
}

.dc_m {
  display: flex;
  gap: 1.4rem;
  padding-bottom: 20px;
}

.dc_m:last-child {
  padding-bottom: 0;
}

.dc_r p {
  color: #8e8e8e;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0;
}

header {
  padding: 10px 60px 15px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}

.sideright {
  display: flex;
  /* gap: 1.5rem; */
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav {
  display: none;
}

.sidenav a {
  display: none;
}

/*  */

.heading_contents h1 {
  font-size: 50px;
}

.heading_contents p {
  font-size: 18px;
  padding: 12px 0 20px 0;
}

.section__hero {
  width: 100%;
  height: 423px;
  position: relative;
}

.crossFade__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 2s ease-in-out;
  object-fit: contain;
}

.crossFade__image--active {
  opacity: 1;
}

.section_content {
  padding: 4rem;
}

.discover_name {
  width: 70%;
  margin: auto;
}

.discover_name h1 {
  font-size: 2.5rem;
}

.discover_name p {
  font-size: 1.2rem;
}

.marketplace_section {
  display: flex;
  justify-content: space-between;
}

.icons {
  width: 55px;
  height: 55px;
  margin: auto;
}

.icons img {
  width: 100%;
  height: auto;
}

.marketplace_header h5 {
  margin: 2rem 0 1rem 0;
  font-size: 1.4rem;
}

.division {
  padding: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division:nth-child(2) {
  padding: 0;
}

.division_img {
  width: 487px;
  height: auto;
}

.division_img2 {
  margin-left: auto;
}

.division_img img {
  width: 100%;
  height: auto;
}

.division_content {
  height: auto;
  padding: 2rem 0;
}

.division_content h6 {
  color: #777777;
  font-size: 1.25rem;
  margin: 0;
}

.division_content h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

.division_content ul {
  padding: 1rem 0 0 0 !important;
}

.division_content ul li {
  display: flex;
  gap: 1rem;
  padding: 0 0 2rem 0;
}

.division_content ul li:last-child {
  padding: 0;
}

.from_recommdention_conversion {
  width: 100%;
  margin: 6rem auto;
}

.from_recommdention_conversion h3 {
  font-size: 2.25rem;
}

.get_demo {
  margin-top: 35px;
}

.get_demo a {
  color: #ffffff;
  padding: 10px 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sideleft .me-4 img {
  display: block;
}
.sideleft .me-4 svg {
  display: none;
}

@media screen and (max-width: 1130px) {
  .sideleft .me-4 img {
    display: none;
  }
  .sideleft .me-4 svg {
    display: block;
    width: 80%;
  }
  .active .fw {
    font-weight: 600 !important;
  }
  .active .rotate {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
  .active .rotate {
    transform: rotate(180deg);
  }
  .sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sidenav a:hover {
    color: #000;
  }

  .nav-item:first-child {
    margin-top: 1rem;
  }

  .nav-item:nth-child(6) {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .login_cta a {
    margin: 1rem 0;
    background: #8100e9;
    border-radius: 22px;
    color: #ffffff !important;
    width: 124px !important;
    height: 44px;
    text-align: center;
  }
  .header1 .ms-5 {
    margin-left: 0 !important;
  }
  .openNav {
    display: block;
    color: #fff;
  }
  .sideright {
    display: none;
  }
  .header_list {
    display: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  .sidenav {
    display: block;
  }
  .sidenav li {
    list-style-type: none;
  }

  .sidenav a {
    padding: 8px 8px 10px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    width: min-content;
    min-width: max-content;
  }

  .dropdown button {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0px;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 20px 25px;
    background-color: #000;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }
  /*e  */

  .section_content {
    padding: 2rem;
  }

  .bg_black_content {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .heading_contents h1 {
    font-size: 1.5rem;
    text-align: center;
    text-align: left;
  }
  .heading_contents p {
    text-align: center;
    font-size: 16px;
    text-align: left;
  }
  .getdemo_lalign {
    text-align: left !important;
  }
  .heading_contents div {
    text-align: center;
  }

  .section__hero {
    height: 250px;
    width: 250px;
    margin: 2.3rem 0;
  }

  .crossFade__image {
    /* left: -6rem; */
    width: 100%;
    height: auto;
  }

  .discover_name {
    width: 100%;
  }
  .discover_name h1 {
    font-size: 1.5rem;
  }
  .discover_name p {
    font-size: 1rem;
  }

  .content {
    padding: 0 0 2rem 0;
  }

  .marketplace_header h5 {
    font-size: 1.2rem;
  }

  .marketplace_section {
    flex-direction: column;
  }

  .division {
    flex-direction: column;
    padding: 5rem 0;
  }

  .division:nth-child(2) {
    flex-direction: column-reverse;
  }

  .division_img {
    width: 80%;
    margin: auto;
  }

  .division_content {
    padding: 2rem 0 0 0;
  }

  .division_content h6 {
    font-size: 1.1rem;
  }
  .division_content h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .from_recommdention_conversion {
    width: 100%;
    margin: 2rem auto;
  }
  .from_recommdention_conversion h3 {
    font-size: 1rem;
  }

  .get_demo a {
    color: #ffffff;
    padding: 14px 36px;
  }
}
