*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #8000ff;
}
::-webkit-scrollbar-track {
  background: #564e5e;
}

html,
body {
  overscroll-behavior-x: none;
  cursor: default !important;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primaryFont);
  color: var(--blackColor);
  font-size: 1em;
  line-height: 25px;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}
a {
  color: currentColor;
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*  */
.get_demo_cta {
  text-align: center;
  padding: 3% 0;
  height: 650px;
}

.logo svg {
  width: 100px;
}

.get_started_contact {
  display: flex;
  align-items: end;
  gap: 9px;
}

.Getdemotitle {
  font-size: 32px;
  padding-bottom: 40px;
  font-weight: 700;
}

.active_btn {
  background-color: #333 !important;
  color: #fff !important;
  border-color: #333;
}

.contact_div {
  background-image: url(./assets/images/Refrlogo.png);
  background-repeat: no-repeat;
  height: 560px;
  display: flex;
  align-items: flex-end;
  /* margin: 0 4%; */
}

.contactcard {
  box-shadow: 0px 0px 4px rgb(165 165 165 / 25%), 4px 0px 4px rgb(165 165 165 / 25%);
  border-radius: 53px 53px 0px 0px;
  width: 40%;
  padding: 20px;
  font-size: 18px;
  margin: 0;
  background-color: white;
  position: absolute;
  right: 40px;
}

.ld_M45width {
  width: calc(50% - 10px);
}

.ld_l2Pmargin {
  margin-left: 2%;
}

.ld_r2Pmargin {
  margin-right: 2%;
}

.gray_bg {
  background: #f8f8f8;
}

.A5radious {
  border-radius: 5px;
}

.A5padding {
  padding: 5px;
}

.ld_A5margin {
  margin: 5px;
}

.sd_tb5margin {
  margin: 5px 0;
}

.sd_lr5margin {
  margin: 0 5px;
}

.b5padding {
  padding-bottom: 5px;
}

.btn_cont {
  width: 100% - 10px;
  margin: 5px;
  padding: 20px;
}

.demobtm {
  font-size: 14px;
  color: white;
  background: #8111e8;
  padding: 5px 30px;
  border-radius: 5px;
  margin: 10px 20px;
  border: none;
}

.gray_txt {
  color: #888888;
}

.s_size {
  font-size: 14px;
}

.t5margin {
  margin-top: 5px;
}

.l_align {
  text-align: left;
}

.contact_btn {
  padding: 2px 15px;
  border: 2px solid #bababa;
  background: transparent;
  border-radius: 5px;
  font-size: 12px;
  color: #888888;
  margin: 4px 2px;
}

.contact_btn:focus-within {
  color: white;
  background: #8111e8;
  border: 1px solid #8111e8;
}

.contact_input {
  background-color: transparent !important;
  border: none;
  font-size: 14px;
  width: 100%;
}

.contact_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact_input:focus {
  outline: none;
}

.ld_r10margin {
  margin-right: 10px;
}

.dflex {
  display: flex;
  /* justify-content:space-around; */
}

.error_txt {
  color: #ff2d2d;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .sd_r5margin {
    margin-right: 5px;
  }

  .contact_div {
    background-image: none;
    height: 580px;
  }

  .Getdemotitle {
    font-size: 22px;
  }

  .sd_lr0margin {
    margin-left: 0;
    margin-right: 0;
  }

  .sd_M100width {
    width: 100% !important;
  }

  .sd_normaldisplay {
    display: initial;
  }

  .contact_svg {
    width: 15px;
    height: 15px;
    align-self: center;
  }

  .contactcard {
    position: initial;
    width: 94%;
    font-size: 13px;
    margin: 0 3%;
  }

  .media_btn {
    color: white !important;
    width: 54%;
    margin: 3%;
  }

  .card .card_img {
    margin: 10% auto;
  }

  .get_demo_cta {
    padding: 10% 0 !important;
    height: 680px !important;
  }

  .get_started_contact {
    display: flex;
    align-items: end;
    gap: 9px;
  }

  .social-media-box .mb_5 {
    margin-bottom: 5%;
  }

  .social-area .social-media-box {
    width: 100%;
    justify-content: center;
  }

  .banner.merchant-social .banner-wrap .banner-content .btn-primary {
    font-size: 1em !important;
  }

  .banner-wrap.flex-wrap h1 span {
    font-size: 2rem !important;
  }

  .joinrefr_title h2 {
    font-size: 28px;
  }
}
