* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/* header */

.header {
  width: 100%;
  background: linear-gradient(105.18deg, #fdb271 0%, #fe9ea1 78.54%, #ffbd81 90%, #ffa862 100%);
  background: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 250px; */
  margin: 0px 159px;
}

.explore_btn {
  background: linear-gradient(180deg, #9b6cff 0%, #6a32e1 100%);
  border-radius: 24px;
  padding: 0.6rem 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.join_btn {
  background-color: #111 !important;
  padding: 15px 30px 15px 30px;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  animation: logoImg 0.9s cubic-bezier(0.8, 0, 0.12, 0.99);
}

/*  */
.main_heading {
  text-align: right;
}
/*  */

.banner_text {
  /* background: linear-gradient(86.14deg, rgba(241, 85, 92, 0.88) 0%, #622fde 122.29%); */
  width: 100%;
}

/* .col_1 {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.banner {
  position: relative;
  height: 400px;
  background: lightgray;
  width: 100%;
}

.banner img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  /* object-position: 70% 35%; */
}

.para_left {
  width: 100%;
  /* max-width: 500px; */
  /* padding: 7rem 0; */

  position: absolute;
  top: 0;
  right: 0;
  /* vertical-align: top; */
  transform: translate(-50px, 50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.para_left h6 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-size: 60px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}

.para_left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 30px;

  color: #ffffff;
  padding-top: 15px;
  text-align: center;
}

.img_banner img {
  max-width: 100%;
  width: 300px;
  object-fit: cover;
}

.pqr {
  width: 100%;
  /* max-width: 1000px;
  margin: auto;
  padding: 77px 0px; */
}

/* .banner {
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;
  border-radius: 3px;
  width: 100%;
margin-left: auto;
} */

/*  */

.middle_line {
  border: 4px solid #ffb878;
  background: #ffb878;
  width: 88%;
  position: relative;
}

.how {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
  padding-bottom: 10px;
}

.refr {
  color: #8111e8;
}

.how_refr {
  padding: 20px 20px 0 0;
}

.it_works {
  padding: 0px 20px 0 0;
  margin-top: -15px;
}

.main_div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.middle_align {
  flex-direction: row-reverse;
}

.main_line {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 42px;
  text-transform: uppercase;
}

.secondary_line {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  width: 480px;
  height: auto;
}

.explore button {
  background: linear-gradient(180deg, #9b6cff 0%, #6a32e1 100%);
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 25px;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

/*  */

.shop_product_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 48px;
  text-transform: uppercase;
}

.shop_products {
  display: flex;
  justify-content: space-evenly;
  background: rgba(129, 17, 232, 0.1);
  padding: 40px;
}

.main_img {
  width: 18vw;
}

.want_more {
  text-align: center;
  margin: 20px 0;
}

.want_to {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.main_middle {
  padding: 35px 0;
}

footer {
  background-color: black;
  color: white;
  padding: 50px;
}

.footer_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  opacity: 0.8;
  width: 10rem;
}

.footer_section {
  width: 50px;
  border-bottom: 4px solid #8111e8;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  cursor: pointer;
}

.footer_section:hover {
  width: 90px;
  border-bottom: 4px solid #8111e8;

  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.main_footer_section {
  display: flex;
  justify-content: space-between;
  /* gap: 8%; */
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.para {
  width: 200px;
}

.strong {
  position: absolute;
  background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 20px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lists li a {
  color: white;
  text-transform: capitalize;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 120%;
}

.followus_section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.refr_tech {
  cursor: pointer;
  width: 100%;
  max-width: 425px;
}

.imgs_section {
  display: flex;
  align-items: center;
  gap: 35px;
  cursor: pointer;
}

.svgs_logo {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .banner {
    height: auto;
    background-color: #ffffff;
  }
  .banner img {
    object-fit: contain;
  }
  .para_left h6 {
    font-size: 40px;
  }
  header {
    margin: 0 5px;
  }
  .shop_products {
    flex-direction: column;
    margin: 0;
    padding: 9px;
  }
  .secondary_line {
    width: -webkit-fill-available;
    text-align: center;
    padding: 7px;
  }
  .main_line {
    text-align: center;
  }
  .shop_product_text {
    text-align: center;
  }
  .explore {
    text-align: center;
  }
  .shop_right {
    text-align: center;
  }
  /*  */
  .col_1 {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .para_left {
    text-align: center;
  }
  /*  */

  /* .want_more {
    padding: 20px 0;
  } */
  .main_footer_section {
    display: flex;
    flex-direction: column;
  }
  .followus_section {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .refr_tech {
    width: 100%;
    text-align: center;
  }
  .explore_btn {
    min-height: 30px;
    min-width: 80px;
    border-radius: 100px;
    background: linear-gradient(180deg, #9b6cff 0%, #6a32e1 100%);
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    padding: 10px;
  }
  .join_btn {
    background-color: #111 !important;
    min-height: 30px;
    min-width: 130px;
    border-radius: 100px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    padding: 10px;
  }
  .main_img {
    width: 8rem;
  }
  header a img {
    width: 100px;
  }
}
