* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}

.c_94 {
  color: #949494;
}

.c_7 {
  color: #777777;
}

.bg_e1 {
  background-color: #f8f0ff;
}

.c_62 {
  color: #626262;
}

.c_ae {
  color: #aeaeae;
}

.c_dc {
  color: #dcff4f;
}

.bg_dc {
  background: #dcff4f;
}

.bg_f5 {
  background: #f5ebff;
}

.c_ce {
  color: #ceff00;
}

.dropdown-menu {
  padding: 40px;
  width: 1000px;
}

.dropd_w {
  padding: 30px;
  width: 500px;
}

.drop_down_lists {
  display: flex;
}

.dropdown_content {
  margin: 2.5rem 0;
}

.dc_m {
  display: flex;
  gap: 1.4rem;
  padding-bottom: 20px;
}

.dc_m:last-child {
  padding-bottom: 0;
}

.dc_r p {
  color: #8e8e8e;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0;
}

header {
  padding: 30px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.sideright {
  display: flex;
  gap: 1.5rem;
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav a {
  display: none;
}

.sidenav {
  display: none;
}

.heading_contents h1 {
  font-size: 50px;
  font-weight: 600;
}

.heading_contents p {
  font-size: 18px;
  padding: 12px 0 20px 0;
}

.img_header {
  width: 517px;
  height: 446px;
  margin-left: auto;
}

.img_header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover_name {
  width: 80%;
  margin: 4rem auto;
}

.discover_name h1 {
  font-size: 3.5rem;
}

.discover_name p {
  font-size: 1.2rem;
}

.contents {
  padding: 0;
}

.content1 {
  margin-bottom: 6rem;
}
.content2 {
  margin-bottom: 6rem;
}

.content_img {
  width: 571px;
  height: 438px;
}

.content_img_500 {
  height: 500px;
}

.content_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_img2 {
  width: 618px;
  height: 577px;
}

.content_img2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_text {
  width: 40%;
  margin-left: 2rem;
}

.content_text h3 {
  font-size: 3rem;
}

.content_text p {
  font-size: 1.4rem;
}

.video_sectiom {
  width: 100%;
  height: auto;
}

.video-js {
  width: 620px;
  height: 500px;
  background-color: transparent !important;
}

.video-js .vjs-tech {
  object-fit: contain;
}

.title_case h3 {
  font-size: 2rem;
}

.titleCase_imgs {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
}

.casestudy_img {
  width: 393px;
  height: 247px;
}

.casestudy_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accordion {
  color: black;
  background-color: white;
}

.accordion .container {
  position: relative;
  /* margin: 10px 10px; */
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  font-weight: 500;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 1rem;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: auto;
  padding: 20px 0;
  color: #757575;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}

.from_recommdention_conversion {
  width: 100%;
  margin: 6rem auto;
}

.from_recommdention_conversion h3 {
  font-size: 2.25rem;
}

.get_demo {
  margin-top: 35px;
}

.get_demo a {
  color: #ffffff;
  padding: 14px 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1130px) {
  .dropdown-menu {
    /* transform: translate3d(30px, 45px, 0px) !important; */
    border: none;
  }
  .dropdown-menu {
    padding: 20px;
    width: 100%;
  }

  .drop_down_lists {
    flex-direction: column;
  }
  .dropdown_content {
    margin: 0;
  }
  .dropdown_header {
    display: none !important;
  }
  .dc_m:last-child {
    padding-bottom: 20px;
  }
  .dd_img {
    width: 25px;
    height: 25px;
  }
  .dc_m {
    align-items: end;
  }

  .dc_r p {
    display: none !important;
  }

  .dropd_w {
    padding: 10px 20px;
    width: 100%;
  }
  .sidebar_width {
    width: 330px;
    border-bottom: 1px solid rgb(255, 240, 237);
    margin: 0px 0px 0 20px;
    width: 90%;
  }
  .sidebar_width:nth-child(5) {
    border: none;
  }
  .sidebar_width:nth-child(6) {
    border: none;
  }
  .sidenav {
    display: block;
  }
  .openNav {
    display: block;
  }
  .sideright {
    display: none;
  }
  .header_list {
    display: none;
  }
  .sideheader {
    margin-top: 1rem;
    width: 100%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav li {
    list-style-type: none;
  }
  .sidenav a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
  }

  .dropdown button {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 20px 25px;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }
}

@media screen and (max-width: 1130px) {
  .video-js {
    width: 100vw;
  }
  .bg_black_content {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .heading_contents h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .heading_contents p {
    text-align: center;
    font-size: 16px;
  }
  .heading_contents div {
    text-align: center;
  }

  .img_header {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .discover_name {
    width: 100%;
  }
  .discover_name h1 {
    font-size: 1.5rem;
  }
  .discover_name p {
    font-size: 1rem;
  }

  .content1 {
    margin-bottom: 3rem;
  }
  .content2 {
    margin-bottom: 3rem;
  }
  .content1 {
    flex-direction: column;
    width: 100%;
    gap: 4rem;
  }
  .content_img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .content_img2 {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .content_text {
    width: 100%;
    margin: 0;
  }
  .content_text h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  .content2 {
    flex-direction: column !important;
    width: 100%;
    gap: 3rem;
  }

  .title_case {
    margin-top: 2rem;
  }

  .titleCase_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem 0;
  }
  .titleCase_imgs::-webkit-scrollbar {
    display: none;
  }

  .title_case h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .casestudy_img {
    min-width: 90%;
    height: 200px;
  }
  .casestudy_img img {
    border-radius: 10px;
    object-fit: cover;
  }
  .padding_b-none {
    padding-bottom: none !important;
  }
  .accordion .label {
    font-size: 1rem;
    width: 95%;
  }
  .accordion .label::before {
    top: 50%;
    right: -32px;
    font-size: 26px;
  }
  .accordion .content {
    width: 100%;
  }

  .accordion .container.active .content {
    height: auto;
    padding: 20px 0;
    color: #757575;
  }

  .from_recommdention_conversion {
    width: 100%;
  }

  .from_recommdention_conversion h3 {
    font-size: 1rem;
  }
  .refr_svg_logo svg {
    width: 80px;
    height: auto;
    object-fit: contain;
  }
  .become_partner {
    font-size: 20px !important;
  }
}
