* {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.c_94 {
    color: #949494;
}

.c_7 {
    color: #777777;
}

.bg_e1 {
    background-color: #f8f0ff;
}

.c_62 {
    color: #626262;
}

.c_ae {
    color: #aeaeae;
}

.c_dc {
    color: #dcff4f;
}

.bg_dc {
    background: #dcff4f;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    max-width: 100%;
}

.bg_e4 {
    background: #e4e4e4;
}

.c_b6 {
    color: #b6b6b6;
}

/*  */


.main_container {
    background-color: #ffffff;
}

.contents {
    padding: 80px 0;
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.contents h1 {
    font-size: 3.125rem;
    padding: 2rem 0 1rem 0;
    font-weight: 600;
}

.contents h6 {
    font-size: 1rem;
    padding: 0 0 3rem 0;
}

.m_cta {
    font-size: 1.125rem;
}

.loadmore_cta {
    margin: 4rem 0 0 0;
    text-align: center;
}

.loadmore_cta button {
    font-size: 1.125rem;
    border: 1px solid #8111E8;
    padding: 10px 28px;
    background: transparent;
}


.casestudy_section {
    width: 80%;
    margin: 3rem auto 6rem auto;
}

.card_section {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: left;
}

.card {
    width: 20rem;
    border-radius: 10px !important;
    box-shadow: 0px 0px 6px 1px rgba(138, 138, 138, );
    display: none;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0 1rem 0;
    color: #000000 !important;

}

.card-text {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0rem;
    color: #000000 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.card-body a {
    font-size: 0.875rem;
    font-weight: 500;
    color: #8100e8;
    padding: 0.8rem 0;
}

#loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
}

#loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}


.from_recommdention_conversion {
    width: 100%;
    margin: 6rem auto;
}

.from_recommdention_conversion h3 {
    font-size: 2.25rem;
}



.get_demoa {
    margin-top: 35px;
}

.get_demoa a {
    color: #ffffff;
    padding: 10px 40px;
    text-decoration: none;
}



:root {
    --marquee-width: 100vw;
    --marquee-height: 34vh;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    /* background-color: #111; */
    color: #eee;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
}

.marquee:after {
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
}

/* ------------------------------------ */

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
        animation-play-state: paused;
      } */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 70%;
    height: 26vh;
    object-fit: contain;
    border: 10px solid transparent;
}

@media (max-width: 600px) {
    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }

    .marquee-content li img {
        height: 15vh;
        width: 100%;
    }
}








@media screen and (max-width: 1130px) {
    .contents {
        width: 100%;
        padding: 40px 0;
    }

    .contents h1 {
        font-size: 26px;
        padding: 0rem 0 1rem 0;
    }

    .m_cta {
        font-size: 18px;
        padding: 10px 25px;
    }

    .contents h6 {
        padding: 0 0 3rem 0;
    }

    .casestudy_section {
        width: 100%;
        margin: 3rem auto 3rem auto;
    }

    .loadmore_cta button {
        font-size: 16px;
        padding: 6px 20px;
    }


    .from_recommdention_conversion {
        width: 100%;
        margin: 2rem auto;
    }

    .from_recommdention_conversion h3 {
        font-size: 1rem;
    }


    .get_demoa a {
        padding: 10px 35px;
    }

}