* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.c_94 {
  color: #949494;
}

.c_7 {
  color: #777777;
}

.bg_e1 {
  background-color: #f8f0ff;
}

.c_62 {
  color: #626262;
}

.c_ae {
  color: #aeaeae;
}

.c_dc {
  color: #dcff4f;
}

.bg_dc {
  background: #dcff4f;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}


.dropdown_header h4 {
  font-size: 18px;
  font-weight: 600;
}

.dropdown-menu {
  padding: 1rem !important;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border: none !important;

}

.dropdown_content_svg {
  width: 24px;
  height: 24px;
}


.dropdown_content_svg svg {
  width: 24px;
  height: 24px;
}


.dropdown-item span {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 0 1rem 0;
  font-weight: 500;
}

.custom_font {
  font-size: 14px !important;
}


.dropdown_text {
  font-size: 12px;
}

.dropdown-item span::after {
  background-color: currentcolor;
  bottom: 0.1em;
  content: "";
  height: 1em;
  margin-left: 0.25em;
  -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
  width: 1em;
  display: block;
  opacity: 0;
}

.dropdown-item span:hover::after {
  opacity: 1;
  right: 10px;
}

.dropd_w {
  padding: 30px;
  width: auto;
}

.drop_down_lists {
  display: flex;
  /* padding: 2rem 1rem; */
}

.dropdown_content {
  margin: 1rem 0;
}

.dc_m {
  display: flex;
  gap: 1rem;
  padding-bottom: 8px;
  text-decoration: none;
}

.dc_m:last-child {
  padding-bottom: 0;
}

.dc_r h6 {
  color: #000000;
  font-size: 16px;
}

.dc_r p {
  color: #8e8e8e;
  font-size: 12px;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

header {
  padding: 10px 60px 15px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
  padding: 0;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0;
}

.sideright {
  display: flex;
  /* gap: 1.5rem; */
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 50px;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav {
  display: none;
}

.sidenav a {
  display: none;
}


/*  */



/*  */




.main_container {
  background-color: #f2f2f2;
}


.main {
  margin: 0rem 8rem 0 8rem;
  padding: 4rem 0 0 0;
}

.left_main {
  width: 100%;
}

.refr_blog {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8111e8;
}

.rev_retail {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 50px;
  color: var(--blackColor);
  text-align: center;
  padding: 4rem 0 0 0 ;
  margin: 0;
}

.author img {
  border: 1px solid #eeeeee;
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
  padding: 7px;
}

.team_refr {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 23px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #0038ff;
}

.auth {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #7e7e7e;
  /* margin-top: 13px; */
  margin-bottom: 8px;
}

.author {
  display: flex;
  align-items: center;
  gap: 30px;
}

.get_updates {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #515151;
  margin: 30px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.search_field {
  position: relative;
}

.search_field input {
  background: #ffffff;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding: 0 40px 0 15px;
  outline: none;
  height: 50px;
  width: 100%;
}

.search_field button {
  position: absolute;
  right: 5%;
  top: 11px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/*  */

.container1 {
  margin: 5rem 8rem;
}


.banner_img{

}

.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.para {
  color: var(--whiteColor);
}

.writeup {
  color: #656565;
  padding: 6rem 1.3rem;
  background-color: #ffffff;
}

.writeup p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 155.52%;
}

.ques {
  font-weight: 600 !important;
}

.def {
  margin: 0px 9rem;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.insta_shop {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.insta {
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.points {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

/* manburger icon */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#myLinks {
  /* display: flex; */
  gap: 25px;
}

/*  ends */

.linksY {
  display: none;
  background: linear-gradient(90deg, #ab007b 0%, #100073 100%);
}

.linksX {
  display: flex;
  gap: 25px;
}

.linksY ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 14px;
}

.horizontal_line {
  border: 1px solid #dddddd;
  margin: 2rem 8rem;
}

.last_part{
  padding: 0rem 0 5rem 0;
  margin: 5rem 8rem 0 8rem;
  display: flex;
  gap: 1rem;
}

.refrLogo{
  width: 120px;
  height: 120px;
}

.refrLogo img{
  width: 100%;
  height: 100%;
  height: max-content;
    object-fit: cover;
  border-radius: 50%;
}

.paraPart p{
  margin: 0;
  font-size: 1.25rem;
}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.sideleft .me-4 a {
  display: block;
  text-decoration: none;
}

.sideleft .me-4 img {
  display: block;
  max-width: 68px;
  width: 100%;
}


.for_r {
  font-size: 14px;
}



@media screen and (max-width: 1130px) {
  .for_r {
    font-size: 12px;
  }

  .get_app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0 0 0;
    border: 1px solid red;
  }

  .logo_business {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid green;
  }

  .get_the_app a {
    border: 1px solid #8111E8;
    border-radius: 6px;
    padding: 6px 16px !important;
    border: 1px solid blue;
  }

  .sideleft .me-4 img {
    display: block;
  }

  .active .fw {
    font-weight: 600 !important;
    color:#000000
  }

  .active .rotate {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }

  .active .rotate {
    transform: rotate(180deg);
  }

  .sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidenav a:hover {
    color: #000;
  }

  .nav-item:first-child {
    margin-top: 1rem;
  }

  .sidenav_text {
    font-size: 14px;
  }

  .nav-item:nth-child(6) {
    margin: 0;
    padding: 6px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px !important;
    /* background-color: red; */
  }

  .nav-item a:nth-child(7) {
    padding: 6px 10px;
    height: -webkit-fill-available;
    max-width: 30%;
  }

  .headerIconsRes {
    width: 14%;
  }

  .login_cta a {
    margin: 1rem 0;
    background: #8100e9;
    border-radius: 22px;
    color: #ffffff !important;
    width: 93px !important;
    height: 38px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }

  .header1 .ms-5 {
    margin-left: 0 !important;
  }

  .openNav {
    display: block;
    color: #000000;
  }

  .sideright {
    display: none;
  }

  .header_list {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

  .sidenav {
    display: block;
  }

  .sidenav li {
    list-style-type: none;
  }

  .sidenav a {
    padding: 8px 8px 10px 0px;
    text-decoration: none;
    font-size: 16px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    width: min-content;
    min-width: max-content;
  }

  .dropdown button {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0px;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 10px 25px;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }


  /*e  */
  .logo svg {
    width: 80px;
  }

  .media_btn {
    color: white !important;
    width: 54%;
    margin: 2% 3%;
  }
  .linksX {
    display: none;
  }
  nav {
    margin: 0;
  }
  .main {
    margin: 0 1rem;
    padding: 2rem 0 0 0;
  }
  .left_main {
    width: auto;
  }
  .rev_retail {
    font-size: 23px !important;
    font-weight: 500;
    line-height: normal;
    padding: 2rem 0 4rem 0;
  }

  .writeup{
    padding: 2rem 1rem;
  }

  .writeup p{
    font-size: 1rem;
  }
  .container1 {
    margin: 0 1rem;
  }

  .horizontal_line{
    margin: 4rem 1rem;
  }

  .last_part{
    margin: 0rem 1rem 0 1rem;
  }

  .paraPart p{
    font-size: 1rem;
  }

  .refrLogo{
    width: 200px;
    height: auto;
  }
  .def {
    margin: 0;
  }

  .topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    padding: 0px 16px;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .login {
    width: 140px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--whiteColor);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .main_footer_section {
    display: flex;
    flex-direction: column;
  }
  
  .refr_tech {
    margin: 0;
  }
  .cards {
    margin: 20px 60px;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }

}