* {
    font-family: "Inter", sans-serif;
}

.c_94 {
    color: #949494;
}


.c_7 {
    color: #777777;
}

::-webkit-scrollbar {
    display: none;
}

.bg_e1 {
    background-color: #f8f0ff;
}

.c_62 {
    color: #626262;
}

.c_ae {
    color: #aeaeae;
}

.c_dc {
    color: #dcff4f;
}

.bg_dc {
    background: #dcff4f;
}

.bg_f5 {
    background: #f5ebff;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    max-width: 100%;
}

.row1:last-child {
    padding-bottom: 0 !important;
}

.bg_e4 {
    background: #e4e4e4;
}

.c_b6 {
    color: #b6b6b6;
}

.dropdown-menu {
    padding: 40px;
    width: 1000px;
}

.dropdown-item span {
    display: flex;
    align-items: center;
}

.dropdown-item span::after {
    background-color: currentcolor;
    bottom: 0.1em;
    content: "";
    height: 1em;
    margin-left: 0.25em;
    -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
    width: 1em;
    display: block;
    opacity: 0;
}

.dropdown-item span:hover::after {
    opacity: 1;
    right: 10px;
}

.dropd_w {
    padding: 30px;
    width: 500px;
}

.drop_down_lists {
    display: flex;
    padding: 2rem 1rem;
}

.dropdown_content {
    margin: 2.5rem 0;
}

.dc_m {
    display: flex;
    gap: 1.4rem;
    padding-bottom: 20px;
    color: #000000;
    cursor: pointer;
}

.dc_m:last-child {
    padding-bottom: 0;
}

.dc_r p {
    color: #8e8e8e;
}

.dd_img {
    width: 40px;
    height: 40px;
}

.dd_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* sidenav */

.dropdown button {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 0;
}

header {
    padding: 10px 60px 15px 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.sideleft {
    display: flex;
    align-items: end;
}

.header_list {
    display: flex;
    align-items: end;
    margin: 0;
    gap: 1.5rem;
    padding: 0;
}

.header_list li {
    list-style-type: none;
}

.header_list li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
}

.sideright {
    display: flex;
    /* gap: 1.5rem; */
    align-items: end;
}

.sideright li {
    list-style-type: none;
}

.sideright a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.closebtn {
    display: none;
}

.openNav {
    display: none;
}

.sidenav {
    display: none;
}

.sidenav a {
    display: none;
}

/*  */

.bg_purplec {
    background: #8100E9;
    height: 100vh;
    overflow: hidden;
}

.mainpart {
    padding: 4.5rem 8rem 0 8rem;
    display: flex;
    position: relative;
}

.leftpart h4 {
    font-size: 2rem;
    font-weight: 600;
}

.leftpart p {
    font-size: 1rem;
}

.contactpic {
    width: 540px;
    height: 449px;
}

.contactpic img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.forms_Section {
    width: 600px;
    /* height: 360px; */
    position: absolute;
    margin: 0 0 0 0rem;
}

form {
    background: #FFFFFF;
    border-radius: 9px;
    padding: 2rem;

}

.inputs_diag {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs_diag input {
    border: none;
    outline: none;
    background: #F5F5F5;
    border-radius: 4px;
    padding: 1rem;
}

.inputs_diag input::placeholder{
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select {
    border: none;
    outline: none;
    background: #F5F5F5;
    /* color: #00000091; */
    border-radius: 4px;
    padding: 1rem;
    border-right: 16px solid transparent
}

.custom-select option{
    text-transform: capitalize;
}

.mail_number {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.mail_number input {
    width: 50%;
}

.submit_cta {
    text-align: right;
}

.submit_cta input {
    background: #8111E8;
    border-radius: 30px;
    padding: 12px 30px;
}

.contactus_Section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    margin: 2rem 0;
}

.contact_mails {
    display: flex;
    gap: 1rem;
}

.tel_mail {
    background: #8e11e8;
    padding: 7px 10px;
    border-radius: 10px;
}


.error_txt {
    color: #ff2d2d;
    font-size: 14px;
  }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sideleft .me-4 img {
    display: block;
    max-width: 75px;
    width: 100%;
}

.sideleft .me-4 svg {
    display: none;
}


@media screen and (max-width: 1130px) {
    /* .sideleft .me-4 img {
        display: none;
    } */

    /* .sideleft .me-4 svg {
        display: block;
        width: 80%;
    } */

    .active .fw {
        font-weight: 600 !important;
    }

    .active .rotate {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }

    .active .rotate {
        transform: rotate(180deg);
    }

    .sidebar li .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidenav a:hover {
        color: #000;
    }

    .nav-item:first-child {
        margin-top: 1rem;
    }

    .nav-item:nth-child(6) {
        margin: 1rem 0;
        padding: 1rem 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }

    .login_cta a {
        margin: 1rem 0;
        background: #8100e9;
        border-radius: 22px;
        color: #ffffff !important;
        width: 124px !important;
        height: 44px;
        text-align: center;
    }

    .header1 .ms-5 {
        margin-left: 0 !important;
    }

    .openNav {
        display: block;
        color: #000000;
    }

    .sideright {
        display: none;
    }

    .header_list {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;
    }

    .sidenav {
        display: block;
    }

    .sidenav li {
        list-style-type: none;
    }

    .sidenav a {
        padding: 8px 8px 10px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
        max-width: 100%;
        width: min-content;
        min-width: max-content;
    }

    .dropdown button {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 3rem;
        right: 25px;
        font-size: 2rem !important;
        margin-left: 50px;
    }

    .cs_works {
        margin: 8px 8px 8px 0px;
        width: max-content;
        padding: 8px 15px !important;
    }

    header {
        padding: 20px 25px;
        /* background-color: #000; */
    }

    .dropdown_cc {
        font-size: 18px;
    }

    .dropdown_secondary {
        font-size: 16px;
        display: none !important;
    }

    /*  */

    .bg_purplec {
        height: 100%;
    }

    .mainpart {
        padding: 3rem 0 0 0;
        flex-direction: column;
    }

    .leftpart h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    .leftpart p {
        text-align: center;
        margin: 2.4rem 0;
    }

    .rightpart {
        display: none;
    }

    form {
        padding: 1.6rem;
    }

    .forms_Section {
        width: 100%;
        position: static;
    }

    .inputs_diag input {
        padding: 0.5rem;
    }

    .custom-select {
        padding: 0.5rem;
    }

    .mail_number {
        flex-direction: column;
    }

    .mail_number input {
        width: 100%;
    }

    .submit_cta input {
        background: #8111E8;
        border-radius: 30px;
        padding: 10px 25px;
        margin: 1rem 0 0 0;
    }

    .contactus_Section {
        flex-direction: column;
        margin: 2rem 0 3rem 0;
    }

    .contact_mails {
        display: flex;
        gap: 1rem;
    }
}