.dflex {
  display: flex;
}

.w-100 {
  width: 100% !important;
}
.divide {
  flex: 1 1 auto !important;
}

.opensidebtn {
  display: none;
  align-self: center;
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 26px;
  color: white;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  z-index: 100;
}

.sidebar a {
  padding: 12px 35px 12px 14px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  display: block;
  transition: 0.3s;
  /* border-bottom: 1px solid #9130eb; */
}

.logo {
  padding-right: 0px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  /* position: absolute; */
  top: 0;
  right: 25px;
  font-size: 36px;
  color: black;
  /* margin-left: 50px; */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.sidemenuheader {
  display: flex;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .opensidebtn {
    display: block;
  }

  .header_btns {
    display: none;
  }
}
