:root {
  --primaryFont: "Inter", sans-serif;
  --primaryColor: #240046;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --transition: all 300ms linear;
  --customColor: #272727;
}

a {
  text-decoration: none !important;
  transition: var(--transition);
}

.social-area .footer-widget-heading h3 {
  margin-bottom: 20px;
  margin-top: 0px;
}

.social-area .footer-widget-heading h3:before {
  display: none;
}

.footer-top-wrap .footer-link label {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-top-wrap .footer-link ul {
  flex-direction: column;
}

.footer-top-wrap .footer-link ul li + li {
  margin-top: 8px;
}

.footer-top-wrap .footer-link ul li a {
  font-size: 18px;
  color: var(--whiteColor);
}

.footer-top-wrap .footer-link ul li a:hover {
  opacity: 0.7;
}

.footer-top-wrap .footer-link.small {
  margin: 0;
}

.footer-top-wrap .footer-link.small ul li a {
  font-size: 14px;
  position: relative;
  font-weight: 500;
}

.footer-top-wrap .footer-link.small ul li a:before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-top-wrap .footer-link.small ul li:last-child a:before {
  display: none;
}

.footer-bottom {
  text-align: center;
  border-top: 2px solid rgba(238, 238, 238, 0.2);
  background-color: #1c0134;
  padding: 8px 0px;
}

.footer-bottom label {
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
}

footer ul {
  margin: 0px;
  padding: 0px;
  color: white;
}

footer.offline-seller {
  background: #000000;
}

footer {
  background: linear-gradient(98.06deg, #112a61 5.12%, #060d20 46.32%, #432247 98.85%), #ebebeb;
  position: relative;
}

footer .footer-content {
  position: relative;
  z-index: 2;
}

footer .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

footer .footer-logo {
  margin-bottom: 10px;
}

footer .footer-text p {
  margin-bottom: 14px;
  font-size: 16px;
  color: #e3e3e3;
  line-height: 28px;
  margin-top: 10px;
}

footer .footer-widget-heading h3 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}

footer .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  width: 75px;
  background: #ffffff;
}

footer .footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

footer .footer-widget ul li a:hover {
  color: #8492af;
}

footer .footer-widget ul li a {
  color: var(--whiteColor);
  text-transform: capitalize;
}

footer .subscribe-form {
  position: relative;
  overflow: hidden;
}

footer .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 5px;
  outline: #ffffff;
  margin: 0 0 5% 0;
}

footer .subscribe-form input::-webkit-input-placeholder {
  color: var(--whiteColor);
  opacity: 0.8;
}

footer .subscribe-form input:-ms-input-placeholder {
  color: var(--whiteColor);
  opacity: 0.8;
}

footer .subscribe-form input::placeholder {
  color: var(--whiteColor);
  opacity: 0.8;
}

footer .subscribe-form button {
  position: absolute;
  right: 0;
  background: transparent;
  padding: 18px;
  border: none;
  top: 0;
}

footer .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

footer .copyright-area {
  padding: 10px 0;
}

footer .footer-widget.logobox {
  display: flex;
}

footer .footer-widget.logobox .footer-text p {
  margin-left: 20px;
}

footer .copyright-text p {
  margin: 0;
  font-size: 0.75em;
  color: var(--whiteColor);
}

footer .copyright-text p a {
  color: var(--whiteColor);
}

footer .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

footer .footer-menu li:hover a {
  color: #8492af;
}

footer .footer-menu li a {
  font-size: 0.75em;
  color: var(--whiteColor);
}

span.badge-list {
  background: linear-gradient(90deg, #ff4160 4.4%, #ff7d35 97.6%);
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  font-size: 0.65em;
  padding: 5px;
  font-weight: 600;
  left: 140px;
  z-index: 1;
}

@media (max-width: 706px) {
  .container,
  .container-sm {
    max-width: 95%;
  }
}

@media screen and (max-width: 1920px) {
  .footer-top-wrap .right {
    width: calc(100% - 900px);
  }
}

@media screen and (max-width: 1440px) {
  .footer-top-wrap .right {
    width: calc(100% - 670px);
  }
}

@media screen and (max-width: 1366px) {
  footer .footer-widget.logobox .footer-text p {
    margin-left: 0 !important;
    font-size: 0.85em;
    line-height: 1.5;
  }

  footer .footer-widget.logobox {
    flex-direction: column;
  }

  footer .single-cta {
    display: flex;
  }

  footer .single-cta i {
    font-size: 40px;
  }

  footer .cta-text h4 {
    font-size: 1.75em;
  }

  .footer-top-wrap .right {
    width: calc(100% - 630px);
  }
}

@media screen and (max-width: 1280px) {
  .footer-top-wrap .right {
    width: calc(100% - 590px);
  }
}

@media screen and (max-width: 1024px) {
  .footer-top-wrap .right {
    width: calc(100% - 470px);
  }
}

@media screen and (max-width: 991px) {
  .footer-top-wrap .right {
    width: calc(100% - 440px);
  }
}

@media screen and (max-width: 768px) {
  .footer-top-wrap .right {
    width: calc(100% - 320px);
  }

  .footer-top-wrap .footer-about {
    width: 300px;
  }

  .footer-top-wrap .footer-about p {
    padding-right: 15px;
  }

  .footer-cta .footer-widget {
    margin-bottom: 30px;
  }

  footer .footer-widget.logobox {
    display: block !important;
  }

  footer .footer-cta .footer-widget.logobox .footer-text p {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .footer-top-wrap .footer-link ul li a {
    font-size: 16px;
  }

  .footer-top-wrap .footer-about {
    width: 100%;
  }

  .footer-top-wrap .right {
    width: 100%;
  }

  .footer-top-wrap .footer-about p {
    font-size: 18px;
    padding-right: 0;
  }

  .footer-top-wrap .footer-link label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer-top-wrap {
    flex-direction: column;
  }

  .footer-other {
    padding-top: 30px;
  }

  .footer-top .social-media {
    order: 3;
    margin-top: 30px;
  }

  .footer-top-wrap .footer-link ul li {
    margin-top: 5px;
  }
}

.social-area .social-media-box a {
  height: 50px;
  width: 50px;
  margin: 0 20px 0 0;
}

.social-area .social-media-box {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.refr_customers {
  color: var(--whiteColor);
  font-family: var(--primaryFont);
  font-weight: 700;
  font-size: 20px;
  gap: 24px;
}

@media screen and (max-width: 900px) {
  .social-media-box .mb_5 {
    margin-bottom: 5%;
  }

  .social-area .social-media-box a {
    margin: 0 10px;
  }

  .social-area .social-media-box {
    width: 100%;
    justify-content: center;
  }
}
