.swiper {
  max-width: 85%;
  padding-top: 50px;
  padding-bottom: 14%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

  margin-right: 8%;
}

.swiper-3d .swiper-slide-shadow-left {
  background: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background: none;
}

@media screen and (max-width: 900px) {
  .card {
    height: 350px;
  }
  .swiper {
    padding-bottom: 25%;
  }
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .swiper {
    max-width: 70%;
  }
}
