* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}

.c_94 {
  color: #949494;
}

.c_7 {
  color: #777777;
}

.bg_e1 {
  background-color: #f8f0ff;
}

.c_62 {
  color: #626262;
}

.c_ae {
  color: #aeaeae;
}

.c_dc {
  color: #dcff4f;
}

.bg_dc {
  background: #dcff4f;
}

.bg_f5 {
  background: #f5ebff;
}

.c_ce {
  color: #ceff00;
}


.dropdown_header h4 {
  font-size: 18px;
  font-weight: 600;
}

.dropdown-menu {
  padding: 1rem !important;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border: none !important;
}

.dropdown_content_svg {
  width: 24px;
  height: 24px;
}


.dropdown_content_svg svg {
  width: 24px;
  height: 24px;
}


.dropdown-item span {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 0 1rem 0;
  font-weight: 500;
}

.custom_font {
  font-size: 14px !important;
}


.dropdown_text {
  font-size: 12px;
}

.dropdown-item span::after {
  background-color: currentcolor;
  bottom: 0.1em;
  content: "";
  height: 1em;
  margin-left: 0.25em;
  -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
  width: 1em;
  display: block;
  opacity: 0;
}

.dropdown-item span:hover::after {
  opacity: 1;
  right: 10px;
}

.dropd_w {
  padding: 30px;
  width: auto;
}

.drop_down_lists {
  display: flex;
  /* padding: 2rem 1rem; */
}

.dropdown_content {
  margin: 1rem 0;
}

.dc_m {
  display: flex;
  gap: 1rem;
  padding-bottom: 8px;
  text-decoration: none;
}

.dc_m:last-child {
  padding-bottom: 0;
}

.dc_r h6 {
  color: #000000;
  font-size: 16px;
}

.dc_r p {
  color: #8e8e8e;
  font-size: 12px;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

header {
  padding: 10px 60px 15px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
  padding: 0;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0;
}

.sideright {
  display: flex;
  /* gap: 1.5rem; */
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 50px;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav {
  display: none;
}

.sidenav a {
  display: none;
}


/*  */


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.sideleft .me-4 a {
  display: block;
  text-decoration: none;
}

.sideleft .me-4 img {
  display: block;
  max-width: 75px;
  width: 100%;
}

.sideleft .me-4 svg {
  display: none;
}

.for_r {
  font-size: 14px;
}



/*  */


.section_content {
  padding: 4rem 4rem 4rem 5rem;
}

.discover_name {
  width: 100%;
  margin: auto;
}

.discover_name h1 {
  font-size: 2.5rem;
}

.discover_name p {
  font-size: 1.2rem;
}

.heading_contents h1 {
  font-size: 50px;
}

.heading_contents p {
  font-size: 18px;
  padding: 12px 0 20px 0;
}


.getdemo_lalign {
  font-size: 1.125rem;
  padding: 14px 28px;
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 0;
}

.img_header {
  width: 550px;
  height: 550px;
  margin-left: auto;
}

.img_header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contents {
  padding: 0;
}

.content1 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

/* .content1:last-child {
  margin-bottom: 0;
} */

.content2 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
  flex-direction: row-reverse;
}

.content_img {
  width: 518px;
  height: 330px;
}

.content_img_500 {
  height: 500px;
}

.content_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_img2 {
  width: 518px;
  height: 330px;
}

.content_img2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_text {
  width: 40%;
  margin-left: 2rem;
}

.content_text h3 {
  font-size: 2.2rem;
}

.title_case h3 {
  font-size: 2rem;
}

.titleCase_imgs {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
}

.casestudy_img {
  width: 393px;
  height: 247px;
}

.casestudy_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accordion {
  color: black;
  background-color: white;
}

.accordion .container {
  position: relative;
  /* margin: 10px 10px; */
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 1rem;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: auto;
  padding: 20px 0;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}

.from_recommdention_conversion {
  width: 100%;
  padding: 6rem 0;
}

.from_recommdention_conversion h3 {
  font-size: 1.875rem;
}

.get_demo {
  margin-top: 35px;
}

.get_demo a {
  color: #ffffff;
  padding: 10px 40px;
}




@media screen and (max-width: 1130px) {
  .for_r {
    font-size: 12px;
  }

  .get_app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0 0 0;
    border: 1px solid red;
  }

  .logo_business {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid green;
  }

  .get_the_app a {
    border: 1px solid #8111E8;
    border-radius: 6px;
    padding: 6px 16px !important;
    border: 1px solid blue;
  }

  .sideleft .me-4 img {
    display: none;
  }

  .sideleft .me-4 svg {
    display: block;
  }

  .active .fw {
    font-weight: 600 !important;
    color:#000000
  }

  .active .rotate {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }

  .active .rotate {
    transform: rotate(180deg);
  }

  .sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidenav a:hover {
    color: #000;
  }

  .nav-item:first-child {
    margin-top: 1rem;
  }

  .sidenav_text{
    font-size: 14px;
  }

  .nav-item:nth-child(6) {
    margin: 0;
    padding: 6px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px !important;
    /* background-color: red; */
  }

  .nav-item a:nth-child(7) {
    padding: 6px 10px;
    height: -webkit-fill-available;
    max-width: 30%;
  }

  .headerIconsRes {
    width: 14%;
  }

  .login_cta a {
    margin: 1rem 0;
    background: #8100e9;
    border-radius: 22px;
    color: #ffffff !important;
    width: 93px !important;
    height: 38px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }

  .header1 .ms-5 {
    margin-left: 0 !important;
  }

  .openNav {
    display: block;
    color: #ffffff;
  }

  .sideright {
    display: none;
  }

  .header_list {
    display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

  .sidenav {
    display: block;
  }

  .sidenav li {
    list-style-type: none;
  }

  .sidenav a {
    padding: 8px 8px 10px 0px;
    text-decoration: none;
    font-size: 16px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    width: min-content;
    min-width: max-content;
  }

  .dropdown button {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0px;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 10px 25px;
    background-color: #000;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }


  /*e  */

  /*  */
  .section_content {
    padding: 2rem 1rem 0 1rem;
  }

  .bg_black_content {
    align-items: center;
    flex-direction: column;
  }

  .heading_contents h1 {
    font-size: 1.625rem;
    text-align: center;
  }

  .heading_contents p {
    text-align: center;
    font-size: 15px;
    margin: 0;
  }

  .heading_contents div {
    text-align: center;
  }

  .img_header {
    height: 326px;
    width: 311px;
    margin: 2.3rem 0;
  }

  .getdemo_lalign {
    font-size: 1rem;
    padding: 10px 20px;
    margin: auto;

  }

  .discover_name {
    width: 100%;
  }

  .discover_name h1 {
    font-size: 1.5rem;
  }

  .discover_name p {
    font-size: 1rem;
  }

  .title_case {
    margin-top: 2rem;
  }

  .titleCase_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem 0;
  }

  .titleCase_imgs::-webkit-scrollbar {
    display: none;
  }

  .title_case h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .casestudy_img {
    min-width: 90%;
    height: 200px;
  }

  .casestudy_img img {
    border-radius: 10px;
    object-fit: cover;
  }

  .padding_b-none {
    padding-bottom: none !important;
  }

  .accordion .label {
    font-size: 1rem;
    width: 95%;
  }

  .accordion .label::before {
    top: 50%;
    right: -32px;
    font-size: 26px;
  }

  .accordion .content {
    width: 100%;
  }

  .accordion .container.active .content {
    height: auto;
    padding: 20px 0;
  }

  .content_text {
    width: 100%;
    margin: 0;
  }

  .content_img {
    width: 100%;
    height: 100%;
  }

  .content_img2 {
    width: 100%;
    height: 100%;
  }

  .content1 {
    gap: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .content2 {
    gap: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .content_text h3 {
    font-size: 1.3rem;
    text-align: left;
  }


  .from_recommdention_conversion {
    width: 100%;
    padding: 2rem auto;
  }

  .from_recommdention_conversion h3 {
    font-size: 1.125rem;
  }


  .get_demo {
    margin-top: 24px;
  }

  .get_demo a {
    padding: 10px 25px;
    font-size: 14px;
  }


  .refr_svg_logo svg {
    width: 80px;
    height: auto;
    object-fit: contain;
  }

  .become_partner {
    font-size: 20px !important;
  }
}