* {
    font-family: "Inter", sans-serif;
}

.c_94 {
    color: #949494;
}


.c_7 {
    color: #777777;
}

::-webkit-scrollbar {
    display: none;
}

.bg_e1 {
    background-color: #f8f0ff;
}

.c_62 {
    color: #626262;
}

.c_ae {
    color: #aeaeae;
}

.c_dc {
    color: #dcff4f;
}

.bg_dc {
    background: #dcff4f;
}

.bg_f5 {
    background: #f5ebff;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    max-width: 100%;
}

.row1:last-child {
    padding-bottom: 0 !important;
}

.bg_e4 {
    background: #e4e4e4;
}

.c_b6 {
    color: #b6b6b6;
}

.dropdown-menu {
    padding: 40px;
    width: 1000px;
}

.dropdown-item span {
    display: flex;
    align-items: center;
}

.dropdown-item span::after {
    background-color: currentcolor;
    bottom: 0.1em;
    content: "";
    height: 1em;
    margin-left: 0.25em;
    -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
    width: 1em;
    display: block;
    opacity: 0;
}

.dropdown-item span:hover::after {
    opacity: 1;
    right: 10px;
}

.dropd_w {
    padding: 30px;
    width: 500px;
}

.drop_down_lists {
    display: flex;
    padding: 2rem 1rem;
}

.dropdown_content {
    margin: 2.5rem 0;
}

.dc_m {
    display: flex;
    gap: 1.4rem;
    padding-bottom: 20px;
    color: #000000;
    cursor: pointer;
}

.dc_m:last-child {
    padding-bottom: 0;
}

.dc_r p {
    color: #8e8e8e;
}

.dd_img {
    width: 40px;
    height: 40px;
}

.dd_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* sidenav */

.dropdown button {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 0;
}

header {
    padding: 10px 60px 15px 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.sideleft {
    display: flex;
    align-items: end;
}

.header_list {
    display: flex;
    align-items: end;
    margin: 0;
    gap: 1.5rem;
    padding: 0;
}

.header_list li {
    list-style-type: none;
}

.header_list li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
}

.sideright {
    display: flex;
    /* gap: 1.5rem; */
    align-items: end;
}

.sideright li {
    list-style-type: none;
}

.sideright a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.closebtn {
    display: none;
}

.openNav {
    display: none;
}

.sidenav {
    display: none;
}

.sidenav a {
    display: none;
}

/*  */

.get_demo {
    margin-top: 35px;
}

.get_demo a {
    color: #ffffff;
    padding: 10px 50px;
}

.title_section {
    padding: 6rem 0 5rem 0;
    text-align: center;
    width: 55%;
    margin: auto;
}

.title_section h1 {
    font-size: 3rem;
    margin: 0 0 0.8rem 0;
}

.title_section p {
    font-size: 1.2rem;
}

.ctas a {
    border-radius: 30px;
    color: #ffffff;
    padding: 12px 40px;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem 20px 0 0px;
    display: inline-block;
}

.ctas a:nth-child(2) {
    border: 1px solid #ffffff;
}

.titleImgSec {
    padding: 0rem 0 1rem 0;
    display: flex !important;
    /* overflow: hidden; */
}

.onepercent {
    width: 1%;
}

.title_imgsSection {
    width: 32%;
    height: 308px;
}

.title_imgsSection:last-child {
    margin-right: 0;
}

.title_imgsSection img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.text_section {
    padding-top: 8rem;
}

.text_section h4 {
    font-size: 2rem;
    line-height: normal;
}

.bg_gradient_text_clr {
    background: linear-gradient(90deg, #dfff5c 0%, #e5c8ff 100%);
    height: 20px;
    display: inline-flex;
    align-items: end;
}


.reach_cus h3 {
    font-size: 2.625rem;
}

/*  toggle s */

.switches-container {
    width: 20rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: #D9D9D9;
    line-height: 3rem;
    border-radius: 3rem;
    margin-top: 2rem;
}

.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.switches-container label {
    width: 50%;
    padding: 0 10px 0 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #000000;
}

.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

.switch {
    border-radius: 3rem;
    background: white;
    height: 100%;
}

.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #000000;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

/* toggle end */

.wholeSection {
    width: 100%;
    padding: 12rem 0 0 0;
}

.customWidth {
    width: 10%;
}

.filtersection {
    display: flex;
}

.bg_cef {
    background: #CEFF00;
}


.flex {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 85%;
    margin-left: auto;
    position: relative;
}

.bg_pur {
    background-color: #8100E9;
}

.upperSection {
    /* width: 44%; */
    margin: -7rem 0px 0rem 4rem;
    /* margin-left: auto; */
}

.topImgSection {
    width: 473px;
    height: 533px;
}

.topImgSection img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.filterRecommend {
    /* width: 36%; */
    margin: 3rem 12rem 3rem 0rem;
}

.filterpara {
    padding: 0 0 2rem 0;
}

.filterpara:last-child {
    padding: 0;
}

.filterpara h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 1rem 0;
}


.points {
    max-width: 100%;
    padding: 0 0 4rem 0;
}

.points:last-child{
    padding: 0;
}

.pntsicons_text{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 0 0 0;
}

.filterpara p {
    font-size: 1rem;
    margin: 0;
}

.pntsText h4 {
    font-size: 1.5rem;
    font-weight: 500 !important;
    margin: 0;
}

.points p {
    margin: 0;
    padding: 0 0 0 75px;
}

.wholepnts {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}


.wholepnts_left{
    width:50%;
}

.pntsIcons {
    width: 40px;
    height: 40px;
}

.pntsIcons svg {
    width: 100%;
    height: auto;
}

.pointsImgs {
    width: 50%;
    height: 800px;
}

.pointsImgs video {
    width: 100%;
    height: 800px;
}


.filterDiv {
    display: none;
}

.show {
    display: block;
}

.filterDiv_two {
    display: none;
}

/*  */

.videoSection {
    padding: 8rem 0rem;
    display: flex;
}

.videoFile video {
    width: 438px;
    height: 274px;
}

.videoText {
    /* max-width: 35%; */
}


.vidText h6 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.vidText .purple_border {
    border: 2px solid #874BF9;
    width: 30%;
}

.videoText p {
    letter-spacing: 1px;
    margin: 0;
}

.videoText p:nth-child(2) {
    padding: 2rem 0;
}

.headerSection h4 {
    font-size: 2rem;
}

.spotlight {
    padding: 4rem 0 0 0;
    display: flex;
    width: 95%;
    margin: auto;
}

.spotlightImg {
    width: 600px;
    height: 356px;
}

.spotlightImg img {
    width: 100%;
    height: auto;
}

.spotlightTextSec {
    max-width: 90%;
    padding: 2rem 0 0 0;
}

.spotlightTextSec h4 {
    font-size: 1.3rem;
}

.section_marquee {
    overflow: hidden;
    background-color: #000000;
    display: block;
}

.marquee_animate {
    animation-name: marquee;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-duration: 20000ms;
    animation-play-state: running;
    font-size: 1.5rem !important;
    display: inline-block;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -0.02em;
    margin: 0;
    white-space: nowrap;
    will-change: transform;
    padding: 1rem 0;
}

.marquee_animate span strong {
    padding: 0 1rem;
}

.runningMin {
    display: flex;
    padding: 4rem 0 0 0;
}

.speakerIcon {
    width: 50px;
    height: 50px;
    margin: auto;
}

.speakerIcon img {
    width: 100%;
    height: auto;
}

.runnDivisiom {
    padding: 2rem 0 0 0;
    text-align: center;
}

.runnDivisiom h4 {
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
}

.runningBox {
    max-width: 80%;
    margin: auto;
}

.theeSection {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    margin: auto;
}

.bigSec {
    background: #785D92;
    border-radius: 15px;
    padding: 20px;
    height: 350px;
    position: relative;
}


.cont_one h3 {
    font-size: 1.5rem;
}

.content_foun {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
}

.content_img {
    width: 70px;
    height: 70px;
}

.content_foun p {
    margin: 0;
}

.bigTwo{
    width: 100%;
    height: 233px;
}

.bigTwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.bigThree{
    background: #F5FC9F;
    border-radius: 15px;
    padding: 30px;
}

.bigThree h4{
    font-size: 1rem;
    margin: 0;
}

.twoSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blogSection{
    padding: 4rem 0 0 0;
    display: flex;
    gap: 2rem;
}

.blogs a{
    /* width: 333px;
height: 233px; */
display: block;
}

.blogs a img{
    width: 100%;
    height: auto;
    object-fit: contain;

}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sideleft .me-4 img {
    display: block;
}

.sideleft .me-4 svg {
    display: none;
}


@media screen and (max-width: 1130px) {
    .sideleft .me-4 img {
        display: none;
    }

    .sideleft .me-4 svg {
        display: block;
        width: 80%;
    }

    .active .fw {
        font-weight: 600 !important;
    }

    .active .rotate {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }

    .active .rotate {
        transform: rotate(180deg);
    }

    .sidebar li .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidenav a:hover {
        color: #000;
    }

    .nav-item:first-child {
        margin-top: 1rem;
    }

    .nav-item:nth-child(6) {
        margin: 1rem 0;
        padding: 1rem 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }

    .login_cta a {
        margin: 1rem 0;
        background: #8100e9;
        border-radius: 22px;
        color: #ffffff !important;
        width: 124px !important;
        height: 44px;
        text-align: center;
    }

    .header1 .ms-5 {
        margin-left: 0 !important;
    }

    .openNav {
        display: block;
        color: #fff;
    }

    .sideright {
        display: none;
    }

    .header_list {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;
    }

    .sidenav {
        display: block;
    }

    .sidenav li {
        list-style-type: none;
    }

    .sidenav a {
        padding: 8px 8px 10px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
        max-width: 100%;
        width: min-content;
        min-width: max-content;
    }

    .dropdown button {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 3rem;
        right: 25px;
        font-size: 2rem !important;
        margin-left: 50px;
    }

    .cs_works {
        margin: 8px 8px 8px 0px;
        width: max-content;
        padding: 8px 15px !important;
    }

    header {
        padding: 20px 25px;
        background-color: #000;
    }

    .dropdown_cc {
        font-size: 18px;
    }

    .dropdown_secondary {
        font-size: 16px;
        display: none !important;
    }

    .title_section {
        width: 100%;
        padding: 3rem 0;
    }

    .title_section h1 {
        font-size: 1.5rem;
    }

    .title_section p {
        font-size: 1rem;
        margin: 2rem 0;
    }

    .ctas {
        display: flex;
        gap: 1rem;
        justify-content: center;
        /* padding: 2rem 0 0 0; */
    }

    .ctas a {
        margin: 0;
        padding: 10px 30px;
        font-size: 0.9rem;
    }

    .titleImgSec {
        padding: 0rem 0 0rem 0;
        overflow-x: scroll;
    }

    .title_imgsSection {
        width: 500px;
        height: auto;
        margin-right: 16px;
    }

    .title_imgsSection:last-child {
        margin-right: 0 !important;
    }

    .title_imgsSection img {
        width: 395px;
    }

    .text_section {
        padding-top: 4rem;
    }

    .text_section h4 {
        font-size: 1rem;
        text-align: center;
    }

    .reach_cus h3 {
        font-size: 1.5rem;
    }

    .switches-container {
        width: 100%;
        margin: 2rem 0 0 0px;
    }

    .switches-container label {
        font-size: 16px;
        font-weight: 500;

    }

    .switch div {
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 1px 5px rgba(0,0,0,0.25);
        border-radius: 50px;
        background-color: #ffffff;
    }

    /*  */

    .bg_gradient_text_clr{
        height: 12px;
    }

    .wholeSection {
        padding: 4rem 0 0 0;
    }

    .flex {
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 0rem;
    }

    .upperSection {
        margin: 0;
    }

    .topImgSection {
        width: 100%;
        height: 350px;
    }

    .topImgSection img {
        height: 350px;
        object-fit: cover;
    }

    .filterRecommend {
        margin: 2rem 1rem;
    }

    .filterpara h4 {
        font-size: 1rem;
        padding: 0 0 0.8rem 0;
    }

    .filterpara p {
        font-size: 0.9rem;
    }

    /*  */

    .wholepnts {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .wholepnts_left{
        width: 100%;
    }

    .pointsImgs {
        width: 100%;
        height: 425px;
    }

    .points {
        max-width: 100%;
    }

    .pntsText {
        max-width: 100%;
    }

    .pntsText h4 {
        font-size: 1.3rem;
    }

    .pntsText p {
        font-size: 0.9rem;
    }

    /*  */
    .videoSection {
        gap: 2rem;
        flex-direction: column;
        padding: 4rem 0;
    }

    .videoFile video {
        width: 100%;
    }

    .vidText h6 {
        font-size: 1.3rem;
    }

    .vidText .purple_border {
        width: 100%;
    }

    .spotlight {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0 0 0;
    }

    .spotlightImg {
        width: 100%;
        height: 210px;
    }

    .spotlightTextSec {
        width: 100%;
    }

    .marquee_animate {
        padding: 0.4rem 0;
    }

    .marquee_animate span strong {
        font-size: 1rem;
    }

    .runningMin {
        flex-direction: column;
        padding: 2rem 0 0 0;
    }

    .runningBox {
        max-width: 100%;
        padding: 0 0 2rem 0;
    }

    .runningBox:last-child {
        padding: 0 0 0rem 0;

    }

    .runnDivisiom {
        padding: 1rem 0 0 0;
        text-align: left;
    }

    .headerSection h4 {
        font-size: 1.5rem;
    }

    .runnDivisiom h4 {
        font-size: 1.2rem;
    }

    .theeSection{
        display: flex !important;
        flex-direction: column;
    }
    .bigSec{
        height: 300px;
    }
    .cont_one h3{
        font-size: 1.2rem;
    }

    .bigThree h4{
        font-size: 1.2rem;
        margin: 0;
    }

    .blogSection{
        overflow-x: scroll;
        padding-left:1rem;
        padding-right:1rem;
    }

    .blogs a{
        width: 300px;
        height: 200px;
    }
}


.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 1320px;
}