* {
  font-family: "Poppins", sans-serif !important;
}

.about_refr {
  margin: 8% 0;
}

#aboutus_content {
  padding: 0 12% !important;
}

.about {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 60px;
  color: #000000;
  padding: 0 0 15px 0;
}

.about_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 24px;
  text-transform: initial;
  color: #000000;
}

/* what we do */

.what_we p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem !important;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  /* padding-bottom: 30px; */
  margin: 0;
}

/* empowering */

.center_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.emp_mil {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 48px;
  text-transform: capitalize;
  color: #000000;
  width: 100%;
  max-width: 400px;
}

.refr_platform {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 24px;
  color: #000000;
  width: 100%;
  max-width: 400px;
  padding: 20px 0;
  text-transform: initial;
}

.emp_img {
  max-width: 100%;
  object-fit: cover;
  width: 400px;
  height: 230px;
}

/* our mission */

.our_mission {
  margin: 10% 0 20px 0;
}

.our_mission p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

.making_comm p {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 48px;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: 20px;
}

.making_comm_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 24px;
  color: #000000;
  text-align: initial;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  #aboutus_content {
    padding: 0 8% !important;
  }

  /* .about_refr {
    margin: 18% 0 5% 0;
  } */
}

@media screen and (max-width: 768px) {
  .emp_mil {
    max-width: 400px;
    font-size: 1rem !important;
    line-height: 30px;
  }

  .refr_platform {
    font-size: 0.8rem !important;
    padding: 10px 0;
    max-width: 300px;
  }

  .center_div {
    display: flex;
    flex-direction: column;
  }

  .making_comm p {
    font-size: 1.3rem !important;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
  .about_refr {
    margin: 15% 0 5% 0 !important;
  }
}

.banner {
  width: -webkit-fill-available;
}

.discover {
  text-align: center;
  padding: 5% 0;
  background: #f5f8fa;
}

.discover_title {
  font-size: 1rem;
  font-weight: bold;
}

.discover_subtit {
  font-size: 0.8rem;
  color: #4d4d4d;
  padding: 0 0 2% 0;
}

.purple_btn {
  background: linear-gradient(180deg, #9b6cff 0%, #6a32e1 100%);
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 20px;
}

.gradian_bg {
  background: linear-gradient(90deg, #f8668c 0%, #f9ac91 100%);
}

.main_div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.middle_align {
  flex-direction: row-reverse;
  padding: 70px 0;
  color: white;
}

.main_line {
  /* color: #7F4AEE; */
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 42px;
  /* text-transform: uppercase; */
  /* display: flex; */
  align-items: center;
  padding-bottom: 2%;
}

.shop_img {
  max-width: 20vw;
}

.want_to {
  /* font-family: "Inter"; */
  /* font-style: normal;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 48px; */
  font-size: 28px;
  text-align: center;
}

.want_to_sub {
  font-size: 16px;
  color: #4d4d4d;
}

.explore {
  margin: 30px;
}

.explore a {
  background: linear-gradient(180deg, #9b6cff 0%, #6a32e1 100%);
  border-radius: 25px;
  /* font-family: "Inter"; */
  /* font-style: normal; */
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 0;
  /* text-align: center; */
  /* border: 1px solid #FFF; */
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 40px;
  /* border: none; */
  /* margin: 20px 0; */
  cursor: pointer;
}

.want_more {
  background: #f5f8fa;
  text-align: center;
  padding: 6% 0;
}

.xs_size {
  font-size: 12px !important;
}

.white_txt {
  color: #fff !important;
}

.b15padding {
  padding-bottom: 15px;
}

.t10padding {
  padding-top: 10px;
}

@media screen and (max-width: 900px) {
  .main_line {
    text-align: center;
    font-size: 2.4rem;
    padding-bottom: 0;
    line-height: 35px;
  }

  .want_to {
    font-size: 20px;
  }
  .want_to_sub {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .main_Sline {
    text-align: center;
  }

  .shop_img {
    max-width: 60vw;
  }

  .explore {
    text-align: center;
    margin-bottom: 9%;
  }

  .md_b20padding {
    padding-bottom: 20px;
  }

  .reversed_md_col {
    flex-direction: column-reverse;
  }

  .md_c_align {
    text-align: center;
  }

  .about_desc {
    font-size: 12px !important;
  }
}
