* {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    line-height: normal;
}

a {
    text-decoration: none;
}

.c_94 {
    color: #949494;
}

.c_7 {
    color: #777777;
}

.bg_e1 {
    background-color: #f8f0ff;
}

.c_62 {
    color: #626262;
}

.c_ae {
    color: #aeaeae;
}

.c_dc {
    color: #dcff4f;
}

.bg_dc {
    background: #dcff4f;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    max-width: 100%;
}

.bg_e4 {
    background: #e4e4e4;
}

.c_b6 {
    color: #b6b6b6;
}


.dropdown-menu {
    padding: 2rem 1rem !important;
    width: 1000px;
  }
  
  .dropdown-item span {
    display: flex;
    align-items: center;
  }
  
  .dropdown-item span::after {
    background-color: currentcolor;
    bottom: 0.1em;
    content: "";
    height: 1em;
    margin-left: 0.25em;
    -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
    width: 1em;
    display: block;
    opacity: 0;
  }
  
  .dropdown-item span:hover::after {
    opacity: 1;
    right: 10px;
  }
  
  .dropd_w {
    padding: 30px;
    width: 500px;
  }
  
  .drop_down_lists {
    display: flex;
    /* padding: 2rem 1rem; */
  }
  
  .dropdown_content {
    margin: 2.5rem 0;
  }
  
  .dc_m {
    display: flex;
    gap: 1.4rem;
    padding-bottom: 20px;
  }
  
  .dc_m:last-child {
    padding-bottom: 0;
  }
  
  
  .dc_r h6 {
    color: #000000;
  }
  
  .dc_r p {
    color: #8e8e8e;
  }
  
  .dd_img {
    width: 40px;
    height: 40px;
  }
  
  .dd_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* sidenav */
  
  .dropdown button {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 0;
  }
  
  header {
    padding: 10px 60px 15px 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  
  .sideleft {
    display: flex;
    align-items: end;
  }
  
  .header_list {
    display: flex;
    align-items: end;
    margin: 0;
    gap: 1.5rem;
    padding: 0;
  }
  
  .header_list li {
    list-style-type: none;
  }
  
  .header_list li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
  }
  
  .sideright {
    display: flex;
    /* gap: 1.5rem; */
    align-items: end;
  }
  
  .sideright li {
    list-style-type: none;
  }
  
  .sideright a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 18px;
  }
  
  .closebtn {
    display: none;
  }
  
  .openNav {
    display: none;
  }
  
  .sidenav {
    display: none;
  }
  
  .sidenav a {
    display: none;
  }
  
  /*  */


.main_container {
    background-color: #f2f2f2;
}

.contents {
    padding: 80px 0;
    text-align: center;
}

.contents h6 {
    font-size: 1rem;
}

.contents h1 {
    font-size: 2.75rem;
    padding: 2rem 0 0 0;
}

.blogs_Section {
    width: 80%;
    margin: auto;
}

.blog {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(138, 138, 138, 0.25);
    border-radius: 10px;
}

.latestBlogImg {
    width: 100%;
    height: 572px;
}

.latestBlogImg img {
    width: 100%;
    height: 572px;
    object-fit: cover;
}

.latestBlogHeading h1 {
    color: #000000;
    font-size: 1.75rem;
    padding: 2rem;
}


.sub_blogs {
    /* margin: 2rem 0; */
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.blog_page {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(138, 138, 138, 0.25);
    border-radius: 0px 0px 10px 10px;
    margin: 0 ;
    display: block;
    width: 49%;
}
   

.blog_contents {
    padding: 2rem;
}

.imgBlogs {
    width: 100%;
    height: 277px;
}

.imgBlogs img {
    width: 100%;
    height: 277px;
    /* object-fit: cover; */
}

.blog_contents h1 {
    font-size: 1.25rem;
    padding: 0 0 1.4rem 0;
    color: #000000;
}

.blog_contents p {
    line-height: normal;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    color: #000000;

}

.readmore {
    padding: 0.8rem 0 0 0;
    color: #000000;

}


@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav a {
      font-size: 18px;
    }
  }
  
  
  .sideleft .me-4 a {
    display: block;
    text-decoration: none;
  }
  
  .sideleft .me-4 img {
    display: block;
    max-width: 75px;
    width: 100%;
  }
  
  .sideleft .me-4 svg {
    display: none;
  }

@media screen and (max-width: 1130px) {
    .sideleft .me-4 img {
        display: none;
      }
    
      .sideleft .me-4 svg {
        display: block;
        width: 80%;
      }
    
      .active .fw {
        font-weight: 600 !important;
      }
    
      .active .rotate {
        transform: rotate(0deg);
        transition-duration: 0.3s;
      }
    
      .active .rotate {
        transform: rotate(180deg);
      }
    
      .sidebar li .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    
      .sidenav a:hover {
        color: #000;
      }
    
      .nav-item:first-child {
        margin-top: 1rem;
      }
    
      .nav-item:nth-child(6) {
        margin: 1rem 0;
        padding: 1rem 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
      }
    
      .login_cta a {
        margin: 1rem 0;
        background: #8100e9;
        border-radius: 22px;
        color: #ffffff !important;
        width: 124px !important;
        height: 44px;
        text-align: center;
      }
    
      .header1 .ms-5 {
        margin-left: 0 !important;
      }
    
      .openNav {
        display: block;
        color: #fff;
      }
    
      .sideright {
        display: none;
      }
    
      .header_list {
        display: none;
      }
    
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 40px;
      }
    
      .sidenav {
        display: block;
      }
    
      .sidenav li {
        list-style-type: none;
      }
    
      .sidenav a {
        padding: 8px 8px 10px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
        max-width: 100%;
        width: min-content;
        min-width: max-content;
      }
    
      .dropdown button {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 18px !important;
        color: #000;
        display: block;
        transition: 0.3s;
      }
    
      .sidenav .closebtn {
        position: absolute;
        top: 3rem;
        right: 25px;
        font-size: 2rem !important;
        margin-left: 50px;
      }
    
      .cs_works {
        margin: 8px 8px 8px 0px;
        width: max-content;
        padding: 8px 15px !important;
      }
    
      header {
        padding: 20px 25px;
        background-color: #000;
      }
    
      .dropdown_cc {
        font-size: 18px;
      }
    
      .dropdown_secondary {
        font-size: 16px;
        display: none !important;
      }
    
      /*e  */
    .contents {
        padding: 60px 0;
    }

    .contents h6 {
        font-size: 0.875rem;
    }

    .contents h1 {
        font-size: 2rem;
        padding: 1rem 0 0 0;
    }


    .blogs_Section {
        width: 100%;
    }

    .latestBlogImg {
        height: -webkit-fill-available;
    }

    .latestBlogImg img {
        height: -webkit-fill-available;
        object-fit: contain;
    }

    .latestBlogHeading h1 {
        font-size: 1.25rem;
        padding: 1rem;
    }

    .sub_blogs {
        flex-direction: column;
    }

    .blog_page {
        width: 100%;
    }

    .imgBlogs {
        height: -webkit-fill-available;
    }

    .blog_contents {
        padding: 1rem;
    }

    .imgBlogs img {
        object-fit: contain;
        height: -webkit-fill-available;
    }

}