* {
  font-family: "Inter", sans-serif;
}


a {
  text-decoration: none;
}


.bg_dc {
  background: #dcff4f;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}


.main_container {
  background-color: #f2f2f2;
}

.contents {
  padding: 80px 0;
  text-align: center;
}

.contents h6 {
  font-size: 1rem;
  margin: 0;
}

.contents h1 {
  font-size: 2.75rem;
  padding: 2rem 0 0 0;
  margin: 0;
}

.blogs_Section {
  width: 80%;
  margin: auto;
}

.blog {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 1px rgba(138, 138, 138, 0.25);
  border-radius: 10px;
}

.latestBlogImg {
  width: 100%;
  height: 100%;
}

.latestBlogImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.latestBlogHeading h1 {
  color: #000000;
  font-size: 1.75rem;
  padding: 2rem;
  margin: 0;
}


.sub_blogs {
  /* margin: 2rem 0; */
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.blog_page {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 1px rgba(138, 138, 138, 0.25);
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  display: block;
  width: 49%;
}


.blog_contents {
  padding: 2rem;
}

.imgBlogs {
  width: 100%;
  height: 277px;
}

.imgBlogs img {
  width: 100%;
  height: 277px;
  /* object-fit: cover; */
}

.blog_contents h1 {
  font-size: 1.25rem;
  padding: 0 0 1.4rem 0;
  color: #000000;
  margin: 0;
}

.blog_contents p {
  line-height: normal;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  color: #000000;
  margin: 0;


}

.readmore {
  padding: 0.8rem 0 0 0;
  color: #000000;
  margin: 0;

}


@media screen and (max-width: 1130px) {

  .title_section {
    width: 100%;
    padding: 3rem 0;
  }

  .title_section h1 {
    font-size: 26px;
  }

  .title_section p {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }

  .ctas {
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* padding: 2rem 0 0 0; */
  }

  .ctas a {
    margin: 0;
    padding: 10px 30px;
    font-size: 0.9rem;
  }

  .titleImgSec {
    padding: 0rem 0 0rem 0;
    overflow-x: scroll;
  }

  .title_imgsSection {
    width: 500px;
    height: auto;
    margin-right: 16px;
  }

  .title_imgsSection:last-child {
    margin-right: 0 !important;
  }

  .title_imgsSection img {
    width: 395px;
  }

  .text_section {
    padding-top: 4rem;
  }

  .text_section h4 {
    font-size: 19px;
    text-align: center;
  }

  .reach_cus h3 {
    font-size: 1.5rem;
  }

  .switches-container {
    width: 70%;
    margin: 2rem 0 0 0px;
  }

  .switches-container label {
    font-size: 12px;
    font-weight: 500;

  }

  .switch div {
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #ffffff;
  }

  /*e  */
  .contents {
    padding: 60px 0;
  }

  .contents h6 {
    font-size: 0.875rem;
  }

  .contents h1 {
    font-size: 2rem;
    padding: 1rem 0 0 0;
  }


  .blogs_Section {
    width: 100%;
  }

  .latestBlogImg {
    height: -webkit-fill-available;
  }

  .latestBlogImg img {
    height: -webkit-fill-available;
    object-fit: contain;
  }

  .latestBlogHeading h1 {
    font-size: 18px;
    padding: 1rem;
  }

  .blog_contents h1{
    font-size: 18px;

  }

  .sub_blogs {
    flex-direction: column;
  }

  .blog_page {
    width: 100%;
  }

  .imgBlogs {
    height: -webkit-fill-available;
  }

  .blog_contents {
    padding: 1rem;
  }

  .imgBlogs img {
    object-fit: contain;
    height: -webkit-fill-available;
  }

}