*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8000ff;
}

::-webkit-scrollbar-track {
  background: #564e5e;
}

html,
body {
  overscroll-behavior-x: none;
  cursor: default !important;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primaryFont);
  color: var(--blackColor);
  font-size: 1em;
  /* line-height: 25px; */
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.padding {
  height: -webkit-fill-available;
  padding: 5% 0% 1% 0%;
}

.heading {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divide {
  flex: 1 1 auto;
}

.contact_form {
  width: 52%;
  min-height: max-content;
  height: max-content;

  margin: 2% auto 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.error_txt {
  color: #ff2d2d;
  font-size: 14px;
}

.header_bg {
  background: linear-gradient(105.18deg, #fdb271 0%, #fe9ea1 78.54%, #ffbd81 90%, #ffa862 100%);
  height: 700px;
  transform-origin: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: skewY(345deg);
}

.primary_heading {
  font-size: 1.8rem !important;
  line-height: 50px;
  font-weight: 500;
  /* width: 80%; */
  /* max-width: 80%; */
}

.secondary_heading {
  font-size: 1rem !important;
  color: #6f6f6f;
  padding-top: 1%;
  text-align: center;
}

.side_logo {
  text-align: center;
}

.side_logo img {
  width: 60%;
}

.form-group {
  position: relative;
  width: 88%;
  margin: 4% auto 8% auto;
}

/*  */

input {
  width: 100%;
  height: 50px;
  position: relative;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  color: #000000;
}

textarea {
  width: 100% !important;
  overflow: hidden;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  color: #000000;
}

/* input[required] + label {
  color: #999;
  font-size: 1rem;
  position: absolute;
  left: 0;
  padding: 12px;
} */

.tbsearchbar::-webkit-input-placeholder {
  padding: 40px;
}
/* 
input[required] + label:after {
  content: "*";
  color: red;
} */

/* input[required]:invalid + label {
  display: inline-block;
} */

/* input[required]:valid + label {
  display: none;
} */

.margin_bottom {
  margin-bottom: 4%;
}

.submit {
  text-align: center;
  margin-top: 8%;
}

input[type="submit"] {
  background: #804bef;
  border-radius: 17px;
  color: #ffffff;
  width: 24%;
  font-family: "Poppins";
  font-size: 22px;
  line-height: 33px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .contact_form {
    margin: 5% auto;
    width: 94%;
    min-height: max-content;
    height: max-content;
  }

  .header_bg {
    height: 400px;
  }

  .padding {
    padding: 12% 3% 1% 3%;
  }

  .primary_heading {
    font-size: 1rem !important;
    text-align: center;
    line-height: normal;
    width: 100%;
    max-width: 100%;
  }

  .secondary_heading {
    font-size: 0.8rem !important;
    text-align: center;
    width: 80%;
    max-width: 80%;
    margin: auto;
    padding-top: 1%;
    line-height: normal;
  }

  .heading {
    flex-direction: column-reverse;
    gap: 8px;
  }

  .side_logo {
    text-align: center;
  }

  .side_logo img {
    width: 54%;
  }

  .form-group {
    width: 100%;
  }

  input[type="submit"] {
    width: 50%;
    font-size: 16px;
    padding: 0;
  }
}
