* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

a{
  text-decoration: none;
}

.c_94 {
  color: #949494;
}

.c_7 {
  color: #777777;
}

.bg_e1 {
  background-color: #f8f0ff;
}

.c_62 {
  color: #626262;
}

.c_ae {
  color: #aeaeae;
}

.c_dc {
  color: #dcff4f;
}

.bg_dc {
  background: #dcff4f;
}

html {
  scroll-behavior: smooth;
}

.max_width {
  max-width: 100%;
}

.bg_e4 {
  background: #e4e4e4;
}

.c_b6 {
  color: #b6b6b6;
}



.dropdown-menu {
  padding: 40px;
  width: 1000px;
}

.dropdown-item span {
  display: flex;
  align-items: center;
}

.dropdown-item span::after {
  background-color: currentcolor;
  bottom: 0.1em;
  content: "";
  height: 1em;
  margin-left: 0.25em;
  -webkit-mask: url(https://cdn.shopify.com/shopifycloud/brochure2/staging/assets/link-arrow.e34cea4d.svg)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  transition: opacity 0.12s ease, transform 0.3s cubic-bezier(0.66, 0, 0.34, 1);
  width: 1em;
  display: block;
  opacity: 0;
}

.dropdown-item span:hover::after {
  opacity: 1;
  right: 10px;
}

.dropd_w {
  padding: 30px;
  width: 500px;
}

.drop_down_lists {
  display: flex;
  padding: 2rem 1rem;
}

.dropdown_content {
  margin: 2.5rem 0;
}

.dc_m {
  display: flex;
  gap: 1.4rem;
  padding-bottom: 20px;
  text-decoration: none;
}

.dc_m:last-child {
  padding-bottom: 0;
}

.dc_r h6{
  color: #000000;
}

.dc_r p {
  color: #8e8e8e;
}

.dd_img {
  width: 40px;
  height: 40px;
}

.dd_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sidenav */

.dropdown button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0;
}

header {
  padding: 10px 60px 15px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.sideleft {
  display: flex;
  align-items: end;
}

.header_list {
  display: flex;
  align-items: end;
  margin: 0;
  gap: 1.5rem;
  padding: 0;
}

.header_list li {
  list-style-type: none;
}

.header_list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}

.sideright {
  display: flex;
  /* gap: 1.5rem; */
  align-items: end;
}

.sideright li {
  list-style-type: none;
}

.sideright a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.closebtn {
  display: none;
}

.openNav {
  display: none;
}

.sidenav {
  display: none;
}

.sidenav a {
  display: none;
}

/*  */

.heading_contents h1 {
  font-size: 50px;
}

.heading_contents p {
  font-size: 18px;
  padding: 12px 0 20px 0;
}

.section__hero {
  width: 100%;
  height: 423px;
  position: relative;
}

.crossFade__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 2s ease-in-out;
  object-fit: contain;
}

.crossFade__image--active {
  opacity: 1;
}

.section_content {
  padding: 4rem;
}

.video-js {
  width: 600px;
  height: 300px;
}

.discover_name {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.discover_name h1 {
  font-size: 3.1rem;
}

.discover_name p {
  font-size: 1.2rem;
  width: 90%;
  margin: auto;
}

.content1 {
  width: 90%;
  margin: 0 auto 8rem auto;
}

.content2 {
  width: 90%;
  margin: 0 auto 8rem auto;
}

.content_img {
  width: 50%;
  height: 450px;
}

.content_img_500 {
  height: 500px;
}

.content_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_text {
  width: 35%;
}

.nomargin {
  margin: 0 !important;
}

.content_text h3 {
  font-size: 2.2rem;
}

.w_40 {
  width: 40%;
}

.recommendation_content {
  width: 90%;
  margin: auto;
}

.recommend_txt {
  margin: 4rem 0;
}

.recommend_txt h6 {
  font-size: 1.5rem;
}

.how_does_it_work h4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.how_does_it_work-contents {
  margin: 5rem 0 8rem 0;
}

.c_1 {
  padding-bottom: 3rem;
  border-bottom: 1px solid #e1e1e1;
}

.c_1_border_none {
  border-bottom: none;
}

.mt_4rem {
  margin-top: 4rem;
}

.c_1 h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.c_1 p {
  font-size: 1.1rem;
}

.recommendation_img {
  width: 500px;
  height: 550px;
}

.recommendation_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recommendation_img1 {
  width: 329px;
  height: 439px;
  margin: 4rem auto 0 auto;
}

.recommendation_img1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg_f3 {
  background: #f3f1ee;
}

.budget_heading h4 {
  font-size: 1.8rem;
}

.translate_black {
  margin: 0 0 0 -20px;
  -webkit-transform: skewX(355deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: black;
  overflow: hidden;
  position: relative;
}

.form_details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.indus_text p {
  font-size: 1rem;
}

.indus_text span {
  font-size: 0.75rem;
}

.select {
  position: relative;
  width: 33%;
}

.select svg {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select select {
  padding-right: 28px;
  font-size: 0.75rem;
  background-color: #e1ddd5;
  border: 1px solid #ddd;
  width: 100%;
  padding: 1em;
  outline: none;
  box-shadow: none;
  line-height: 1;
  appearance: none;
  color: #181a20;
  font-weight: 500;
  border-radius: 0;
  text-align: left;
}

.custom_margin {
  margin: 40px 0;
}

.input_range {
  position: relative;
}

.range-slider {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#range {
  -webkit-appearance: none;
  width: 100%;
}
#range:focus {
  outline: none;
}

#range::before,
#range::after {
  position: absolute;
  top: 2rem;
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}
#range::before {
  left: 0;
  content: attr(data-min);
}
#range::after {
  right: 0;
  content: attr(data-max);
}

#range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.65rem;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(
    90deg,
    #874bf9 var(--range-progress),
    #dee4ec var(--range-progress)
  );
  border-radius: 1rem;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.25rem solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  height: 25px;
  width: 25px;
  transform: translateY(calc(-60% + 8px));
}

#tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
}
#tooltip span {
  position: absolute;
  text-align: center;
  display: block;
  line-height: 1;
  padding: 0.125rem 0.25rem;
  color: #7d7d7d;
  border-radius: 0.125rem;
  font-size: 1.2rem;
  right: 0;
}

.total_section {
  width: 100%;
  height: 56vh;
  display: grid;
  align-items: center;
}

.total_col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666666;
  padding-bottom: 3rem;
}

.total_col:last-child {
  border-bottom: none;
}

.total_col span {
  font-size: 0.74rem;
}

.total_col h4 {
  font-size: 1.5rem;
}

.total_col h2 {
  font-size: 3rem;
}

.custon_padding {
  padding-top: 3rem;
}

.bg_f5 {
  background: #f5ebff;
}

.testimonial_content {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.testimonial_img {
  width: 70%;
  height: 290px;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonials_content p {
  margin-top: 1.4rem;
}

.title_case h3 {
  font-size: 2rem;
}

.titleCase_imgs {
  margin: 2rem 0 6rem 0;
  display: flex;
  gap: 1.5rem;
}

.casestudy_img {
  width: 393px;
  height: 247px;
}

.casestudy_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accordion {
  color: black;
  background-color: white;
  padding: 0 0 6rem 0;
}

.accordion .container {
  position: relative;
  /* margin: 10px 10px; */
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 1rem;
  /* text-align: justify; */
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: auto;
  padding: 20px 0;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}

.from_recommdention_conversion {
  width: 100%;
  margin: 6rem auto;
}

.from_recommdention_conversion h3 {
  font-size: 2.25rem;
}

.get_demo {
  margin-top: 35px;
}

.get_demo a {
  color: #ffffff;
  padding: 10px 40px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sideleft .me-4 img {
  display: block;
  max-width: 75px;
  width: 100%;
}
.sideleft .me-4 svg {
  display: none;
}

@media screen and (max-width: 1130px) {
  .sideleft .me-4 img {
    display: none;
  }
  .sideleft .me-4 svg {
    display: block;
    width: 80%;
  }
  .active .fw {
    font-weight: 600 !important;
  }
  .active .rotate {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
  .active .rotate {
    transform: rotate(180deg);
  }
  .sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sidenav a:hover {
    color: #000;
  }

  .nav-item:first-child {
    margin-top: 1rem;
  }

  .nav-item:nth-child(6) {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .login_cta a {
    margin: 1rem 0;
    background: #8100e9;
    border-radius: 22px;
    color: #ffffff !important;
    width: 124px !important;
    height: 44px;
    text-align: center;
  }
  .header1 .ms-5 {
    margin-left: 0 !important;
  }
  .openNav {
    display: block;
    color: #fff;
  }
  .sideright {
    display: none;
  }
  .header_list {
    display: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  .sidenav {
    display: block;
  }
  .sidenav li {
    list-style-type: none;
  }

  .sidenav a {
    padding: 8px 8px 10px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
    max-width: 100%;
    width: min-content;
    min-width: max-content;
  }

  .dropdown button {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px !important;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 3rem;
    right: 25px;
    font-size: 2rem !important;
    margin-left: 50px;
  }

  .cs_works {
    margin: 8px 8px 8px 0px;
    width: max-content;
    padding: 8px 15px !important;
  }

  header {
    padding: 20px 25px;
    background-color: #000;
  }

  .dropdown_cc {
    font-size: 18px;
  }

  .dropdown_secondary {
    font-size: 16px;
    display: none !important;
  }
  /*e  */
  .content_img img {
    object-fit: cover;
    height: auto;
  }
  .img_content_4 {
    width: 205px !important;
    height: 330px !important;
    margin: auto !important;
    object-fit: contain !important;
  }
  .dropdown-menu {
    border: none;
  }
  .dropdown-menu {
    padding: 20px;
    width: 100%;
  }

  .drop_down_lists {
    flex-direction: column;
  }
  .dropdown_content {
    margin: 0;
  }
  .dropdown_header {
    display: none !important;
  }
  .dc_m:last-child {
    padding-bottom: 20px;
  }
  .dd_img {
    width: 25px;
    height: 25px;
  }
  .dc_m {
    align-items: end;
  }

  .dc_r p {
    display: none !important;
  }

  .dropd_w {
    padding: 10px 20px;
    width: 100%;
  }
  .header2 {
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 20px;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
  }
  .res {
    flex-direction: column;
    float: left;
    margin-top: 0.5rem !important;
  }
  .res li {
    margin-bottom: 10px;
  }
  .res li:nth-child(odd) {
    margin-left: -12px;
  }
  .res li:last-child {
    margin-left: -25px;
  }
  .bg_black_content {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .section_content {
    padding: 2rem;
  }

  .heading_contents h1 {
    font-size: 1.5rem;
    text-align: center;
    text-align: left;
  }
  .heading_contents p {
    text-align: center;
    font-size: 16px;
    text-align: left;
  }
  .getdemo_lalign {
    text-align: left !important;
  }
  .heading_contents div {
    text-align: center;
  }

  .section__hero {
    height: 250px;
    width: 250px;
    margin: 2.3rem 0;
  }

  .crossFade__image {
    /* left: -6rem; */
    width: 100%;
    height: auto;
  }

  .video-js {
    width: 100%;
    height: 300px;
  }
  .discover_name {
    width: 100%;
    margin: 5rem 0;
  }
  .discover_name h1 {
    font-size: 1.5rem;
  }
  .discover_name p {
    font-size: 1rem;
    width: 100%;
    margin: auto;
  }
  .contents {
    overflow: hidden;
  }
  .content1 {
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 2rem;
  }
  .content_img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .content_text {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .content_text h3 {
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
  }
  .content_text p {
    text-align: left;
    margin: 0;
  }
  .content2 {
    flex-direction: column !important;
    width: 100%;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  .recommendation_content {
    width: 100%;
  }
  .recommend_txt {
    margin: 5rem 0 2rem 0;
  }
  .recommend_txt h6 {
    font-size: 1.2rem;
  }
  .how_does_it_work h4 {
    font-size: 1.3rem;
  }
  .how_does_it_work-contents {
    margin: 3rem 0 0 0;
  }
  .c_1 {
    text-align: left;
    padding-bottom: 2rem;
  }
  .c_1:last-child {
    padding-bottom: 4rem;
  }
  .c_1 h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .c_1 p {
    font-size: 1rem;
  }

  .main_content_how_it_work {
    gap: 2rem;
    flex-direction: column-reverse;
  }

  .recommendation_img {
    width: 90%;
    height: auto;
  }
  .mt_4rem {
    margin-top: 3rem;
  }

  .recommendation_img1 {
    width: 100%;
    height: auto;
    margin: 4rem 0 0 0;
  }

  .gap0 {
    gap: 0;
  }
  .select select option {
    font-size: 5rem;
  }
  .budget_container {
    flex-direction: column;
  }

  .budget_heading h4 {
    font-size: 1.5rem;
    text-align: center;
  }

  .form_details {
    flex-direction: column;
    align-items: start;
  }

  .select {
    width: 100%;
  }

  .translate_black {
    margin: 0px;
    -webkit-transform: skewX(0);
    max-width: 100% !important;
  }

  .total_section {
    height: auto;
  }

  .total_col {
    flex-direction: column;
  }
  .total_col:last-child {
    padding-bottom: 0;
  }

  .testimonial_content {
    flex-direction: column;
    gap: 1.5rem;
    padding: 15px;
    margin: 0;
  }

  .testimonials_content h5 {
    font-size: 1rem;
  }
  .title_case {
    margin: 3rem 0 1rem 0;
  }

  .titleCase_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem 0;
  }
  .titleCase_imgs::-webkit-scrollbar {
    display: none;
  }

  .title_case h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .casestudy_img {
    min-width: 90%;
    height: 200px;
  }
  .casestudy_img img {
    border-radius: 10px;
    object-fit: cover;
  }
  .padding_b-none {
    padding-bottom: 0 !important;
  }
  .accordion {
    padding: 0 0 3rem 0;
  }
  .accordion .label {
    font-size: 1rem;
    width: 95%;
  }
  .accordion .label::before {
    top: 50%;
    right: -32px;
    font-size: 26px;
  }
  .accordion .content {
    width: 100%;
  }

  .accordion .container.active .content {
    height: auto;
    padding: 20px 0;
  }

  .from_recommdention_conversion {
    width: 100%;
    margin: 0;
  }

  .from_recommdention_conversion h3 {
    font-size: 1rem;
  }
}




@media screen and (max-width: 1130px) {
  

  .testimonial_img {
    height: 260px;
  }

  .accordion .content {
    font-size: 0.9rem;
  }
}
